<%= form_with(model: [:ico, ico_etz_investment], local: true) do |form| %>
  <% if ico_etz_investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ico_etz_investment.errors.count, "error") %> prohibited this ico_etz_investment from being saved:</h2>

      <ul>
      <% ico_etz_investment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :wallet %>
    <%= form.text_field :wallet, id: :ico_etz_investment_wallet %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :ico_etz_investment_time, :include_seconds => true %>
  </div>

  <div class="field">
    <%= form.label :eth %>
    <%= form.text_field :eth, id: :ico_etz_investment_eth %>
  </div>

  <div class="field">
    <%= form.label :etz %>
    <%= form.text_field :etz, id: :ico_etz_investment_etz %>
  </div>

  <div class="field">
    <%= form.label :rdt %>
    <%= form.text_field :rdt, id: :ico_etz_investment_rdt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
