<div class="container-fluid container-start">
  <div class="nav justify-content-center">
    <span class="icon-logo text-light display-1"></span>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= form_for(:user, as: resource_name, url: session_path(resource_name), :html => {:class => "devise-form"}) do |f| %>
          <div class="form-group mx-auto d-block">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"   %>
          </div>

          <div class="form-group mx-auto d-block">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="form-group mx-auto d-block text-white">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end %>

          <div class="actions">
            <%= f.submit t('.sign_in'), class: "btn btn-secondary mb-3  mx-auto d-block" %>
          </div>
      <% end %>
    </div>
  </div>
</div>