<%= form_with(model: profile, local: true) do |form| %>
    <div class="modal" id="edit-avatar">
      <a class="modal-close" href="javascript:void(0)">
        <i class="fa fa-times"></i>
      </a>

      <div class="modal-window">
        <div class="modal-content center">
          <h1>Edit Avatar</h1>
          <div>
            <%= image_tag @profile.avatar.present? ? @profile.avatar.url : image_url('avatar_placeholder.png'), id: 'avatar-image' %>
          </div>
          <label>
            <div class="round-btn white">Upload</div>
            <%= form.file_field :avatar, id: :profile_avatar, hidden: true %>
          </label>
          <a href="javascript:void(0)" class="round-btn white" id="avatar-ok">Ok</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="profile-big edit">
        <div class="profile-big-image">
          <img src=<%= @profile.large_avatar %> id="avatar" />
          <a class="round-btn white" data-modal-target="#edit-avatar" href="javascripT:void(0)">Change Avatar</a>
          <%= form.hidden_field :crop_x, id: :crop_x %>
          <%= form.hidden_field :crop_y, id: :crop_y %>
          <%= form.hidden_field :crop_w, id: :crop_w %>
          <%= form.hidden_field :crop_h, id: :crop_h %>
        </div>
        <div class="profile-big-form">
          <div class="profile-input">
            <p class="label"> Nickname </p>
            <%= form.text_field :nickname, id: :profile_nickname, placeholder: 'Nickname' %>
          </div>
          <div class="profile-input">
            <p class="label"> Name </p>
            <%= form.text_field :name, id: :profile_name, placeholder: 'Name' %>
          </div>
          <div class="profile-input">
            <p class="label"> Second Name </p>
            <%= form.text_field :surname, id: :profile_surname, placeholder: 'Surname' %>
          </div>
          <div class="profile-input">
            <p class="label">Date of birth</p>
            <div class="grid-xs-3">
              <div class="cell">
                <%= form.date_select :dob, id: :profile_dob, start_year: Date.today.year-18, end_year: 1920, date_separator: '</div><div class="cell">', order: [:day, :month, :year] %>
              </div>
            </div>
          </div>
          <div class="profile-input input">
            <div class="radio-group">
              <label class="radio-btn">
                <%= form.radio_button :gender, "male", id: :profile_gender, hidden: true %>
                <span class="radio-btn-view">Male</span>
              </label>
              <label class="radio-btn">
                <%= form.radio_button :gender, "female", id: :profile_gender, hidden: true %>
                <span class="radio-btn-view">Female</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="profile-gallery edit">
        <p class="profile-gallery-title">
          <span>Photos</span>
          <!-- <a href="javascript:void(0)">View All</a>8 -->
        </p>

        <ul>
          <%= form.fields_for :photos do |p| %>
              <% if p.object.new_record? %>
                  <li>
                    <%= p.label :photo, class: 'profile-gallery-image add' do %>
                      <img src="#" style="display: none;">
                      <span class="icon">
                        <i class="fa fa-plus"></i>
                      </span>
                    <% end %>
                    <%= p.file_field :photo, hidden: true %>
                  </li>
              <% else %>
                  <li>
                    <%= p.label :remove_photo, class: 'profile-gallery-image removable' do %>
                      <img src=<%= p.object.photo.url(:thumb) %> />
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    <% end %>
                    <%= p.check_box :remove_photo, hidden: true %>
                    <%= p.file_field :photo, hidden: true %>
                  </li>
              <% end %>
          <% end %>
          <input type="hidden" id="false_hidden" disabled>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="profile-about">
        <p class="profile-about-title">About</p>
        <div class="profile-input horizontal">
          <p class="label">Intro</p>
          <%= form.text_area :about, id: :profile_about %>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Location</p>
          <%= form.text_field :address, id: :profile_address %>
        </div>
        <div class="profile-input horizontal">
          <p class="label"></p>
          <div class="grid-xs-3">
            <div class="cell">
              <%= form.text_field :country, id: :profile_country, readonly: true, placeholder: 'Country', value: (@profile.city.country if @profile.city.present?) %>
              <%= form.hidden_field :country_code, id: :profile_country_code, value: (@profile.city.country_code if @profile.city.present?) %>
            </div>
            <div class="cell">
              <%= form.text_field :administrative_area_level_1, readonly: true, id: :administrative_area_level_1, value: (@profile.city.administrative_area_level_1 if @profile.city.present?) %>
            </div>
            <div class="cell">
              <%= form.text_field :city_name, id: :profile_city, class: 'form-control', readonly: true, placeholder: 'City', value: (@profile.city.city if @profile.city.present?) %>
              <%= form.hidden_field :administrative_area_level_2, id: :administrative_area_level_2, value: (@profile.city.administrative_area_level_2 if @profile.city.present?) %>
            </div>
          </div>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Languages</p>
          <div>
            <%= form.select :languages, options_for_select(languages, @profile.languages), {include_hidden: false }, {multiple: true, id: 'profile_languages'} %>
          </div>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Music</p>
          <%= form.text_field :music_list, id: :music_list, value: @profile.music_list.join(', ') %>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Movies</p>
          <%= form.text_field :film_list, id: :film_list, value: @profile.film_list.join(', ') %>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Books</p>
          <%= form.text_field :book_list, id: :book_list, value: @profile.book_list.join(', ') %>
        </div>
        <div class="profile-input horizontal">
          <p class="label">Hobbies</p>
          <%= form.text_field :hobby_list, id: :hobby_list, value: @profile.hobby_list.join(', ')  %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <%= form.submit :Save, class: 'side-button round-btn' %>
<% end %>
<div style="position:absolute; left:-9999px;">
  <img id="tmp-crop">
</div>