<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% img_src = @profile.avatar.present? ? @profile.avatar.url : "#" %>
    <div class="row">
      <div class="col-xl-6">
        <img id="img_preview" src="<%= img_src %>" alt="Avatar" class="img-thumbnail"/>
      </div>
    </div>
    <%= form.file_field :avatar, id: :profile_avatar, class: "btn btn-default btn-file" %>
    <%= form.hidden_field :avatar_cache %>
  </div>
  <%= form.hidden_field :crop_x, id: :crop_x %>
  <%= form.hidden_field :crop_y, id: :crop_y %>
  <%= form.hidden_field :crop_w, id: :crop_w %>
  <%= form.hidden_field :crop_h, id: :crop_h %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :profile_surname %>
  </div>

  <div class="form-group">
    <%= form.label :hide_surname %>
    <%= form.check_box :hide_surname, id: :profile_hide_surname %>
  </div>

  <div class="form-group">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :profile_nickname %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :profile_address %>
  </div>


  <div class="form-group">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :profile_dob, start_year: Date.today.year-18, end_year: 1920 %>
  </div>

  <div class="form-group">
    <%= form.label :hide_dob %>
    <%= form.check_box :hide_dob, id: :profile_hide_dob %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :profile_gender %>
  </div>

  <div class="form-group">
    <%= form.label :about %>
    <%= form.text_area :about, id: :profile_about %>
  </div>

  <div class="form-group">
    <%= form.label :hobby_list %>
    <%= form.text_field :hobby_list, id: :hobby_list, value: @profile.hobby_list.join(', '), 'data-role' => 'tagsinput'  %>
  </div>
  <div class="form-group">
    <%= form.label :film_list %>
    <%= form.text_field :film_list, id: :film_list, value: @profile.film_list.join(', ') %>
  </div>
  <div class="form-group">
    <%= form.label :music_list %>
    <%= form.text_field :music_list, id: :music_list, value: @profile.music_list.join(', ') %>
  </div>
  <div class="form-group">
    <%= form.label :book_list %>
    <%= form.text_field :book_list, id: :book_list, value: @profile.book_list.join(', ') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
