<div class="cell">
  <div class="profile">
    <span class="profile-image">
      <%= link_to profile do %>
        <%= image_tag profile.medium_avatar %>
      <% end %>
    </span>
    <div class="profile-info">
      <p class="name">
        <%= link_to profile do %>
          <span class="truncate-xs"><%= profile.display_name %></span><span>, <%= profile.age %></span>
        <% end %>
      </p>
      <p class="place">
        <%= profile.city.country+', '+profile.city.city if profile.city.present? %>
      </p>

      <div class="profile-info-buttons">
        <a class="red" href="javascript:void(0)" data-modal-target="#gifts"><i class="fa fa-gift"></i></a>
        <%= link_to '<i class="fa fa-comment"></i>'.html_safe, new_personal_message_path(receiver_id: profile.user), class: 'yellow'%>
      </div>
    </div>
  </div>
</div>
