<div class="profile-page">
  <div class="profile-page-wrap">
    <div class="main">
      <div class="profile-big">
        <div class="profile-big-image">
          <%= image_tag @profile.large_avatar %>
        </div>
        <div class="profile-big-info">
          <p class="name"><%= @profile.display_name %> <%= @profile.surname if @profile.hide_surname&&@profile==current_user.profile%>, <%= @profile.age %></p>
          <p class="place"><%= @profile.city.country if @profile.city %>, <%= @profile.city.city if @profile.city %></p>
          <% if @profile==current_user.profile %>
              <%= link_to 'Edit profile', edit_my_profile_path, class: 'round-btn transparent edit' %>
          <% else %>
            <div class="buttons">
              <%= link_to  new_personal_message_path(receiver_id: @profile.user), class: 'round-btn transparent send-message' do %>
                <i class="fa fa-comment"></i>
                <span class="btn-text">Message</span>
              <% end %>
              <button class="round-btn transparent send-gift" type="button" data-modal-target="#gifts">
                <i class="fa fa-gift"></i>
                <span class="btn-text">Send a gift</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="profile-gallery">
        <p class="profile-gallery-title">
          <span>Photos</span>
        </p>

        <ul class="slider-lg" id="profile-gallery">
          <% @profile.photos.each do |photo| %>
              <li>
                <span class="profile-gallery-image">
                    <%= image_tag photo.photo.url(:thumb) %>
                </span>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <div class="side">
      <% if @profile.auctions.active.any? %>
      <% auction = @profile.auctions.active.last %>
      <div class="profile-auction" id="auction_<%= auction.id %>">
        <p class="profile-auction-title">Auction</p>
        <p class="profile-auction-aim">The aim of auction - <%= auction.aim %></p>
        <div class="profile-auction-bid-info">
          <div class="bid-value">
            <div class="title"><%= auction.bids.any? ? 'Highest Bid' : 'Starts at' %></div>
            <div class="value"><span><%= auction.bids.any? ? "%g"%auction.bids.last.bid_value : "%g"%auction.start_bid %></span> RDT</div>
          </div>
          <div class="bid-count">
            <div class="title">Bids</div>
            <div class="value"><span><%= auction.bids.count %></span></div>
          </div>
        </div>
        <div class="profile-auction-timer">
          <div class="profile-auction-timer-title">End </div>
          <div class="profile-auction-timer-value"><%= auction.auction_end.in_time_zone(show_timezone).strftime('%B %d %H:%M') %></div>
          <% progress = (DateTime.now.to_time-auction.created_at.to_time)/(auction.auction_end.to_time-auction.created_at.to_time)*100 %>
          <div class="profile-auction-timer-progress"><div class="profile-auction-timer-progress-bar" style="width: <%= progress %>%"></div></div>
        </div>
        <% if @profile.user == current_user %>
        <div class="buttons">
          <%= link_to 'Edit', edit_auction_path(auction), class: 'button-red' %>
        </div>
        <% else %>
          <div class="bid-form">
            <form action="">
              <input id="auction_bid_<%= auction.id %>" type="number" value="<%= auction.bids.any? ? "%g"%(auction.bids.last.bid_value+auction.bid_step) : "%g"%auction.start_bid %>">
              <a href="javascript:void(0)" class="button-bid" data-auction="<%= auction.id %>">Bid</a>
            </form>
          </div>
        <% end %>
      </div>
      <% end %>
      <div class="profile-about">
        <p class="profile-about-title"> About </p>
        <p class="profile-about-message"><%= @profile.about %></p>

        <div class="profile-about-item">
          <p class="title">Languages</p>
          <p class="value">
            <%= languages_list(@profile.languages) if  @profile.languages %>
          </p>
        </div>

        <div class="profile-about-item">
          <p class="title">Music</p>
          <p class="value"><%= @profile.music_list %></p>
        </div>

        <div class="profile-about-item">
          <p class="title">Movies</p>
          <p class="value"><%= @profile.film_list %></p>
        </div>

        <div class="profile-about-item">
          <p class="title">Books</p>
          <p class="value"><%= @profile.book_list %></p>
        </div>

        <div class="profile-about-item">
          <p class="title">Hobbies</p>
          <p class="value"><%= @profile.hobby_list %></p>
        </div>

        <a class="read-more" href="javascript:void(0)">Read more</a>
      </div>
    </div>
    <div class="main">
      <ul class="slider-lg with-offset">
        <li>
          <a class="profile-no-gift" href="javascript:void(0)" data-modal-target="#gifts">
            <p class="profile-no-gift-icon">
              <i class="fa fa-gift"></i>
            </p>
            <p class="profile-no-gift-caption">
              Be the first! Send a gift!
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= render 'gifts' %>