<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6">
    <%= image_tag @profile.avatar.large_avatar.url, class: 'img-fluid' %>
  </div>
  <div class="col-lg-6">
    <h2>
      <%= @profile.name  %> "<%= @profile.nickname %>" <%= @profile.surname if !@profile.hide_surname||@profile==current_user.profile %>
    </h2>
    <%= link_to('Edit Profile', edit_my_profile_path, class: 'btn btn-secondary') if @profile==current_user.profile %>
    <div>
      <%= @profile.age %> <%= t '.years_old' %>
    </div>
    <p>
      <%= @profile.city.country %>
      <%= @profile.city.city %>
    </p>

    <p>
      <strong>Languages</strong>
      <%= @profile.languages %>
    </p>

    <p>
      <strong>About:</strong>
      <br>
      <%= @profile.about %>
    </p>

    <p>
      <strong>Hobbies:</strong>
      <br>
      <%= @profile.hobby_list %>
    </p>
    <p>
      <strong>Music:</strong>
      <br>
      <%= @profile.music_list %>
    </p>
    <p>
      <strong>Films:</strong>
      <br>
      <%= @profile.film_list %>
    </p>
    <p>
      <strong>Books:</strong>
      <br>
      <%= @profile.book_list %>
    </p>

  </div>
</div>
<div class="row pt-2">
  <% @profile.photos.each do |photo| %>
      <div class="col-lg-2"><%= image_tag photo.photo.url(:thumb), class: 'img-fluid' %></div>
  <% end %>
</div>

<p>
</p>


