<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @profile.avatar.large_avatar.url %>
</p>



<h2>
  <%= @profile.name  %> "<%= @profile.nickname %>" <%= @profile.surname if !@profile.hide_surname %>
</h2>
<div>
  <%= @profile.age %> <%= t '.years_old' %>
</div>
<p>
  <%= @profile.city.country %>
  <%= @profile.city.city %>
</p>

<p>
  <strong>About:</strong>
  <br>
  <%= @profile.about %>
</p>

<p>
  <strong>Hobbies:</strong>
  <br>
  <%= @profile.hobby_list %>
</p>
<p>
  <strong>Music:</strong>
  <br>
  <%= @profile.music_list %>
</p>
<p>
  <strong>Films:</strong>
  <br>
  <%= @profile.film_list %>
</p>
<p>
  <strong>Books:</strong>
  <br>
  <%= @profile.book_list %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
