<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @profile.avatar.small_avatar.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @profile.surname %>
</p>

<p>
  <strong>Hide surname:</strong>
  <%= @profile.hide_surname %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>


<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Hide dob:</strong>
  <%= @profile.hide_dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @profile.hobby_list %>
</p>
<p>
  <strong>Music:</strong>
  <%= @profile.music_list %>
</p>
<p>
  <strong>Films:</strong>
  <%= @profile.film_list %>
</p>
<p>
  <strong>Books:</strong>
  <%= @profile.book_list %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
