<p id="notice"><%= notice %></p>

<div class="row ">
  <div class="col-md-4">
    <%= image_tag @profile.large_avatar, class: 'img-thumbnail' %>
  </div>
  <div class="col-md-8">
    <h2>
      <%= @profile.display_name %> <%= @profile.surname if @profile.hide_surname&&@profile==current_user.profile%>
    </h2>
    <%= link_to('Edit Profile', edit_my_profile_path, class: 'btn btn-secondary') if @profile==current_user.profile %>
    <%= link_to(' Send a Message', new_personal_message_path(receiver_id: @profile.user), class: 'btn btn-secondary icon-envelope') if @profile!=current_user.profile%>
    <% if @profile!=current_user.profile%>
        <button type="button" class="btn btn-secondary icon-gift" data-toggle="modal" data-target="#giftModal">
          Send a gift
        </button>
        <!-- Modal -->
        <div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-labelledby="giftModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <%= form_with scope: :profile_sent_gifts, url: profile_sent_gifts_path do |form| %>
            <%= hidden_field_tag 'profile[id]', @profile.id %>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="giftModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-3">
                    <label >
                      <img src="/assets/images/gifts/1/64.png" alt="">
                      <input type="radio" name="profile_sent_gifts[gift_id]" value="1" class="fade">
                    </label>
                  </div>
                  <div class="col-3">
                    <label >
                      <img src="/assets/images/gifts/1/64.png" alt="">
                      <input type="radio" name="profile_sent_gifts[gift_id]" value="1" class="fade">
                    </label>
                  </div>
                  <div class="col-3">
                    <label >
                      <img src="/assets/images/gifts/1/64.png" alt="">
                      <input type="radio" name="profile_sent_gifts[gift_id]" value="1" class="fade">
                    </label>
                  </div>
                  <div class="col-3">
                    <label >
                      <img src="/assets/images/gifts/1/64.png" alt="">
                      <input type="radio" name="profile_sent_gifts[gift_id]" value="1" class="fade">
                    </label>
                  </div>
                </div>
                <div class="py-3">
                  <%= form.text_field 'message', class: 'form-control', placeholder: 'Message' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <%= form.submit 'Send a Gift', class: 'btn btn-secondary' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    <% end %>
    <div>
      <%= @profile.age %> <%= t '.years_old' %>
    </div>
    <p>
      <%= @profile.city.country if @profile.city %>
      <%= @profile.city.city if @profile.city %>
    </p>

    <p>
      <strong>Languages</strong>
      <% if  @profile.languages
           @profile.languages.each do |l| %>
              <%= language(l) %>,
          <% end %>
      <% end %>
    </p>

    <p>
      <strong>About:</strong>
      <br>
      <%= @profile.about %>
    </p>

    <p>
      <strong>Hobbies:</strong>
      <br>
      <%= @profile.hobby_list %>
    </p>
    <p>
      <strong>Music:</strong>
      <br>
      <%= @profile.music_list %>
    </p>
    <p>
      <strong>Movies:</strong>
      <br>
      <%= @profile.film_list %>
    </p>
    <p>
      <strong>Books:</strong>
      <br>
      <%= @profile.book_list %>
    </p>

  </div>
</div>
<div class="row pt-2">
  <% @profile.photos.each do |photo| %>
      <div class="col-lg-2 col-sm-4">
        <%= link_to(photo.photo.url, :'data-toggle'=>'lightbox', :'data-gallery'=>'profile-gallery' ) do %>
          <%= image_tag photo.photo.url(:thumb), class: 'img-thumbnail w-100' %>
        <% end %>
      </div>
  <% end %>
</div>
<div class="row py-3 justify-content-center">
  <img src="/assets/images/gifts/1/256.png" alt="" class="img-thumbnail">
</div>

