<h2><%= t('.sign_up') %></h2>
<div class="login-form active">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= devise_error_messages! %>
  <%= flash[:recaptcha_error] %>

  <%= f.hidden_field :referred_by, :value => session[:referred_by] %>
  <p class="input">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  </p>

  <p class="input">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </p>

  <p class="input">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
  </p>
  <div class="captcha">
    <div class="captcha-wrap">
      <%= recaptcha_tags %>
    </div>
  </div>
  <div class="center">
    <%= f.submit t('.sign_up'), class: "round-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>