<div>
  <% profile = conversation.with(current_user).profile %>
  <% html_class = 'conversation d-flex' %>
  <% if local_assigns[:current_conversation]
       html_class += ' current' if conversation.id == current_conversation
     end
  %>
  <%= link_to(conversation_path(conversation), class: html_class, id: 'conversation-'+conversation.id.to_s) do %>
    <%= image_tag profile.small_avatar, class: 'rounded-circle' %>
    <div class="pl-2 d-none d-lg-inline-block">
      <%= profile.name %> <%= online_status profile.user %><br>
      <em><%= conversation.personal_messages.last.body.truncate(30) if conversation.personal_messages.last.present? %></em>
    </div>
  <% end %>
</div>