<div class="chat-page show-chat">
  <div class="chat-page-wrap">
    <div class="left-side">
      <div class="chats-list">
        <p class="chats-list-title">Your chats</p>

        <ul id="conversations">
          <%= render @conversations, current_conversation: @conversation.id, layout: false %>
        </ul>
      </div>
    </div>
    <div class="chat-wrap">
      <div class="right-side">
        <% profile = @conversation.with(current_user).profile %>
        <div class="profile-chat">
          <a class="to-chats" href="javascript:void(0)">
            <i class="fa fa-chevron-left"></i>
          </a>
          <div class="profile-chat-image">
            <%= image_tag profile.medium_avatar %>
          </div>
          <div class="profile-chat-info">
            <p class="name"><%= profile.display_name+', '+profile.age.to_s %></p>
            <p class="place"><%= profile.city.country+', '+profile.city.city if profile.city.present? %></p>

            <a class="round-btn transparent send-gift" href="javascript:void(0)">
              <i class="fa fa-gift"></i>
              <span>Send a gift</span>
            </a>
          </div>
        </div>

      </div>
      <div class="main">
        <div class="chat-window" id="conversation-main">
          <div class="bubble-area" id="conversation-body" data-conversation-id="<%= @conversation.id %>">
            <%= render @conversation.personal_messages, current_user_id: current_user.id %>
          </div>
          <div class="message-form" data-turbolinks="false">
            <%= form_for @personal_message do |f| %>
                <%= hidden_field_tag 'conversation_id', @conversation.id %>
                <%= f.submit 'Send', class: 'round-btn' %>
                <div class="profile-input">
                  <%= f.text_area :body, placeholder: 'Enter message' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>