
<div class="notification">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= link_to profile_path(message.user.profile) do %>
    <div class="notification-avatar">
      <%= image_tag message.user.profile.small_avatar %>
    </div>
  <% end %>
  <%= link_to  conversation_path(message.conversation) do %>
      <div class="notification-body">
        <span class="name">
          <%= message.user.profile.display_name %>
        </span><br>
              <span class="message">
          <%= message.body %>
        </span>
      </div>
  <% end %>
</div>