<div class="base-section">
  <div class="section">
    <div class="base-section-wrap">
      <h2 class="center">Rate Date - Online Dating Auction</h2>
      <p class="center medium">Revolution in the online dating industry</p>
      <div class="timer">
        <p class="timer-title" id="presaletext">ICO Coming Soon</p>

      </div>
    </div>
  </div>
</div>

<div class="description-section bubble left-to-right">
  <div class="section">
    <div class="description-section-wrap">
      <h3>New trend of the dating industry</h3>
      <p class="rate-date">
        Rate Date – is a social network, providing a unique opportunity to hold
        an online video date auction. This service makes it possible
        not only to find and communicate with interesting people,
        but create and take part in video date auctions as well.
      </p>
      <p class="grid-title center">Rate Date includes a wide range of opportunities:</p>
      <div class="grid-xs-1 grid-md-3">
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description1.svg')%>>
                <%= image_tag 'description1.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              easy access to the service
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description2.svg')%>>
                <%= image_tag 'description2.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              opportunity to take part in the online video date auction as a Rater and a Dater.
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description3.svg')%>>
                <%= image_tag 'description3.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              unlimited communication
            </p>
          </div>
        </div>
      </div>
      <span class="clear"></span>
      <p class="dater">
        Dater – a registered user of Rate Date website,
        who places his or her profile on the online video date
        auction.
      </p>
      <p class="rater">
        Rater – a registered user of Rate Date website,
        who participates in a tender on the online video date auction.
      </p>
      <p>
        The primary goal of Rate Date Company is to unite as
        many lonely hearts as possible and make it easier for
        people to make acquaintances in the high tech age.
      </p>
    </div>
  </div>
</div>

<div class="business-model-section">
  <div class="section">
    <div class="business-model-section-wrap">
      <div class="left">
        <h3>Business model</h3>
        <p>
          The key idea of the project is to hold
          online video date auctions.
        </p>
        <p>
          Any registered user can place his or her profile
          on an auction as a Dater and make bets at other
          auctions as a Rater. When creating an auction,
          the Dater has an opportunity to select bet ticks
          and auction timeframes at his own discretion.
        </p>
        <p class="no-offset">
          Dater will get access to the funds from the winning
          bet after the video date has taken place, in case of
          the absence of complaints from either of the parties.
          Rate Date service charges commission for every successful
          deal amounting to 20% of the winning bet. All the funds
          received from the online auction can be use within the service,
          as well as withdrawn to your personal wallet.
        </p>
        <p>Monetization Methods and using RDT in the service:</p>
        <ul>
          <li class="no-offset">the acquisition of premium accounts with enhanced functionality;</li>
          <li class="no-offset">additional services for communication (gifts, emoji, etc.);</li>
          <li>participation on the online video date auctions</li>
        </ul>
      </div>
      <div class="right">
                <span class="complex-contour">
                    <%= image_tag 'business.png'%>
                </span>
      </div>
    </div>
  </div>
</div>

<div id="token" class="tokens-section bubble right-to-left">
  <div class="section">
    <div class="tokens-section-wrap">
      <h3>Tokens</h3>
      <p>To launch the investment program, Rate Date issues RDT for selling.</p>
      <p>
        RDT token (Rate Date Token) – is an internal payment unit
        of the service, which grants the right to purchase additional
        services and participate in the online video date auctions.
      </p>
      <p>
        All the RDT holders have an opportunity to make free use of
        token within Rate Date service, as well as for using them on the exchange.
      </p>
      <p>
        The number of tokens is limited: 50&nbsp;000&nbsp;000&nbsp;RDT, issued on Ethereum,
        ERC20. For sale in ICO will be exposed 37&nbsp;000&nbsp;000&nbsp;RDT. During the ICO
        period, Rate Date plans to attract the maximum 5&nbsp;000&nbsp;ETH of investments.
      </p>
      <p>
        In the wake of rising amount of new Rate Date users, tokens will
        be bought back in order to support the service’s ecosystem.
      </p>

      <%= link_to t('sign_up'), ico_sign_up_path(:locale => params[:locale]), class: "button white" %>
    </div>
  </div>
</div>


<div class="stats-section" id="about">
  <div class="section">
    <div class="stats-section">
      <div class="grid-xs-1 grid-md-2 grid-lg-3">
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value">World stats</p>
            <p class="stats-item-text">of online dating industry</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">$3 Billion</p>
            <p class="stats-item-text">Annual Revenue in the Online Dating Industry Has Surpassed $3 Billion</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">26%</p>
            <p class="stats-item-text">
              The largest share of adults worldwide who are
              actively paying for a dating service are from United States
              (26%), United Kingdom (21%), and Germany (17%).
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">up to 27%</p>
            <p class="stats-item-text">
              The use of online dating services (sites and apps) among
              young adults (ages 18-24) nearly tripled from 2013 to 2016 (from 10% to 27%).
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">5.3%</p>
            <p class="stats-item-text">The annual growth rate from 2012 to 2017 is 5.3%.</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">44%</p>
            <p class="stats-item-text">
              44% of online daters who had success said that their use of online
              dating led to marriages or serious long-term relationships.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="images-section">
  <div class="section">
    <div class="images-section-wrap">
      <div class="grid-xs-1 grid-md-2">
        <div class="cell">
          <div class="image">
            <p class="image-title">Token distribution</p>
            <%= image_tag 'graph03-04.png'%>
          </div>
        </div>
        <div class="cell">
          <div class="image">
            <p class="image-title">ICO fund distribution</p>
            <%= image_tag 'graph04-04.png'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="screenshots" class="screenshots-section bubble left-to-right">
  <div class="section">
    <div class="screenshots-section-wrap">
      <h3>Join and enjoy the ease of use and splendid design</h3>
      <span class="clear"></span>
      <div class="left">
        <%= image_tag 'screenshots-image.png'%>
      </div>
      <div class="right">
        <p>Use your RDT to buy the site's privileged features.</p>
        <p>
          Participate in auctions, buy gifts and stickers, upgrade your premium account and enjoy unique opportunities for dating.
        </p>

        <a href="https://ratedate.net" class="button white">Go to Rate Date beta</a>
      </div>
      <span class="clear"></span>
    </div>
  </div>
</div>

<div id="bonus" class="bonuses-section">
  <div class="section">
    <div class="bonuses-section-wrap">
      <h3>Bonuses</h3>
      <div class="image">
        <%= image_tag('coins.png') %>
      </div>
      <ul class="bonus-list">
        <li>
          <p class="bonus-day">Day 1-3</p>
          <p class="bonus-percent">20%</p>
        </li>
        <li>
          <p class="bonus-day">Day 4-10</p>
          <p class="bonus-percent">15%</p>
        </li>
        <li>
          <p class="bonus-day">Day 11-17</p>
          <p class="bonus-percent">10%</p>
        </li>
        <li>
          <p class="bonus-day">Day 18-24</p>
          <p class="bonus-percent">5%</p>
        </li>
        <li>
          <p class="bonus-day">Day 25-33</p>
          <p class="bonus-percent">No bonuses</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="road-map" class="road-map-section bubble left-to-right">
  <div class="section">
    <div class="road-map-section-wrap">
      <h3>Road map</h3>
      <ul class="roadmap-list">
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-prototype"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q4 2017</p>
            <p class="road-bubble-text">Prototyping of RateDate.net website</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-sale"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q1 2018</p>
            <p class="road-bubble-text">Pre Sale</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-coin"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q1 2018</p>
            <p class="road-bubble-text">Beta version of RateDate.net website</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-video-camera"></span></div>
          <div class="road-bubble  to-left">
            <p class="road-bubble-title">Q2 2018</p>
            <p class="road-bubble-text">Launch of the online video date auction</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-sale"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q2 2018</p>
            <p class="road-bubble-text">ICO</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-beta"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q3, 2018</p>
            <p class="road-bubble-text">RDT Allocation</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-phone"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q4 2018</p>
            <p class="road-bubble-text">Launch of the mobile application</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-comment"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q4 2018</p>
            <p class="road-bubble-text">Beta version of Plugin - Prompter</p>
          </div>
        </div></li>
      </ul>
    </div>
  </div>
</div>

<div class="partners-section">
  <div class="section">
    <div class="partners-section-wrap">
      <h3 class="center">Featured on</h3>

      <div class="grid-wrap">
        <div class="grid-xs-1 grid-md-2 grid-lg-3">
          <div class="cell">
            <a href="https://www.icoalert.com/" class="partner"><span class="icon-icoalert"></span></a>
          </div>
          <div class="cell">
            <a href="https://icorating.com/ico/rate-date/" class="partner"><span class="icon-icorating"></span></a>
          </div>
          <div class="cell">
            <a href="https://www.icotokennews.com/icos/rate-date/" class="partner"><span class="icon-icotokennews-logo"></span></a>
          </div>
          <div class="cell">
            <a href="https://cryptonext.com/ico/rate-date" class="partner"><span class="icon-cryptonext"></span></a>
          </div>
          <div class="cell">
            <a href="https://www.kickico.com/campaigns/35008/rate-date" class="partner"><span class="icon-kickico"></span></a>
          </div>
          <div class="cell">
            <a href="https://bitcointalk.org/index.php?topic=3124220.0" class="partner"><span class="icon-btalk"></span></a>
          </div>
          <div class="cell">
            <a href="https://icobench.com/ico/rate-date" class="partner"><span class="icon-icobench"></span></a>
          </div>
          <div class="cell">
            <a href="https://icoholder.com/ico/rate-date-4104" class="partner"><span class="icon-icoholder"></span></a>
          </div>
          <div class="cell">
            <a href="https://icotracker.net/project/rate_date" class="partner"><span class="icon-ico_tracker"></span></a>
          </div>
          <div class="centered-lg">
            <div class="cell">
              <a href="http://www.ico-lister.com/ico/RDT" class="partner"><span class="icon-ico-lister"></span></a>
            </div>
            <div class="cell">
              <a href="https://icovoting.com/project/rate-date" class="partner"><span class="icon-ico_voting"></span></a>
            </div>
          </div>
        </div>
      </div>

      <h3 class="center">Partners</h3>
      <a href="http://inicta.com/" class="partner alone"><span class="icon-inicta"></span></a>
    </div>
  </div>
</div>

<div id="team" class="team-section bubble left-to-right">
  <div class="section">
    <div class="team-section-wrap">

      <h3>Our team</h3>
      <div class="participants">
        <div class="grid-xs-1 grid-sm-2 grid-md-3">
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/katerina-usatenko-9260b1139/" class="participant-image" target="_blank">
                <%= image_tag 'katerina.jpg'%>
              </a>
              <p class="participant-name">Katerina Usatenko</p>
              <p class="participant-position">Founder, CEO</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://facebook.com/dmitriyabel" class="participant-image facebook" target="_blank">
                <%= image_tag 'abel.png'%>
              </a>
              <p class="participant-name">Dmitriy Abel</p>
              <p class="participant-position">Chief Technology Officer</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/%D0%BC%D0%B8%D1%85%D0%B0%D0%B8%D0%BB-%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B8%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-583084152/" class="participant-image" target="_blank">
                <%= image_tag 'michail.jpg'%>
              </a>
              <p class="participant-name">Mikhail Kruglichenko</p>
              <p class="participant-position">Strategic Planning Manager</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/dmitriy-nadsadin/" class="participant-image" target="_blank">
                <%= image_tag 'cheshire.jpg'%>
              </a>
              <p class="participant-name">Dmitry Nadsadin</p>
              <p class="participant-position">Project Manager, Developer</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/denis-goroshko-004150107/" class="participant-image" target="_blank">
                <%= image_tag 'heyan.jpg'%>
              </a>
              <p class="participant-name">Denis Goroshko</p>
              <p class="participant-position">Web-Designer, Illustrator</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.facebook.com/profile.php?id=100000531726638" class="participant-image facebook" target="_blank">
                <%= image_tag 'ekaterina.jpg'%>
              </a>
              <p class="participant-name">Katerina Voronkina</p>
              <p class="participant-position">Designer, Illustrator</p>
            </div>
          </div>
        </div>
      </div>

      <h3>Advisors</h3>
      <div class="participant bubble-border horizontal">
        <a href="https://www.linkedin.com/in/liashko/" class="participant-image">
          <%= image_tag 'romanliashko_200x200.jpg'%>
        </a>
        <p class="participant-name">Roman Liashko</p>
        <p class="participant-position">Investor and specialist in business development</p>
        <p class="participant-text">
          Experience in formation and developing companies from Startup to
          IPO with a capitalization of $ 364m. Participated in the development
          one of the most successful in the EU Social Trading Network (xsocial.eu).
        </p>
      </div>
      <div class="participant bubble-border horizontal">
        <a href="https://www.linkedin.com/in/livant/" class="participant-image">
          <%= image_tag 'igor_livant.jpg'%>
        </a>
        <p class="participant-name">Igor Livant</p>
        <p class="participant-position">VP for Investments, Telf AG</p>
        <p class="participant-text">
          Igor’s career spans over 17 years in financial services and consulting. He has worked as an Executive Director at Goldman Sachs, Troika Dialog, and Aton; Associate Principal at McKinsey & Company, ran his own consulting firm and now works as VP for Investments at TELF AG, a commodity trading firm.<br>
          Igor is also an adviser to Walimai, the company that successfully conducted ICO of tokens in Nov 2017 as well as several other cryptocurrency projects.<br>
          His extensive has given him advanced practical knowledge of financial management, capital raising experience, management consulting, and mergers & acquisitions.
        </p>
      </div>
    </div>
  </div>
</div>