
<div class="container-fluid container-start">
  <nav class="navbar navbar-expand-xl navbar-dark bg-fade justify-content-between fixed-top navbar-ico">
    <a class="navbar-brand" href="#">
      <span class="icon-logo display-3"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarICO" aria-controls="navbarICO" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-lp" id="navbarICO">
      <ul class="navbar-nav mx-auto text-capitalize font-weight-bold">
        <li class="nav-item">
          <a class="nav-link m" href="#about"><%= t :about %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#tokens">token</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#bonus">bonus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#bounty">bounty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#roadmap">road map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#team">team</a>
        </li>
        <li class="nav-item">
          <%= locale_link %>
        </li>
        <li class="nav-item">
          <%= wp_link "btn btn-outline-secondary my-1 my-xl-0 mx-0 mx-xl-1" %>
        </li>
        <% if ico_user_signed_in? %>
            <li class="nav-item">
              <%= link_to t(:sign_out), ico_sign_out_path, method: :delete, class: "btn btn-outline-secondary my-1 my-xl-0 mx-0 mx-xl-1" %>
            </li>
            <li class="nav-item">
              <%= link_to t(:account), ico_account_path, class: "btn btn-outline-secondary my-1 my-xl-0 mx-0 mx-xl-1" %>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to t(:sign_in), ico_sign_in_path(:locale => params[:locale]), class: "btn btn-outline-secondary my-1 my-xl-0 mx-0 mx-xl-1" %>
            </li>
            <li class="nav-item">
              <%= link_to t(:sign_up), ico_sign_up_path(:locale => params[:locale]), class: "btn btn-outline-secondary my-1 my-xl-0 mx-0 mx-xl-1" %>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <%= image_tag "ratedate.png", class: "img-fluid" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6 text-center text-light pt-3">
      <h2>Pre-Sale Start</h2>
      <div class="row">
        <div class="col-3">
          <small>Days</small>
          <div class="display-4" id="tDayNum">--</div>
        </div>
        <div class="col-3">
          <small>Hours</small>
          <div class="display-4" id="tHourNum">--</div>
        </div>
        <div class="col-3">
          <small>Minutes</small>
          <div class="display-4" id="tMinNum">--</div>
        </div>
        <div class="col-3">
          <small>Seconds</small>
          <div class="display-4" id="tSecNum">--</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <span class="display-4 icon-ethereum"></span>
          <span class="display-3">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3"></div>
  </div>
</div>
<div class="container-fluid py-4 " id="about">
  <div class="row">
    <div class="col-12 col-xl-8"><%= image_tag "about.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-12 col-xl-4">
      <h2 class="text-center p-3">Company description</h2>
      <p>Rate Date – is a dating site, providing a unique opportunity to hold an online video date
        auction. This service makes it possible not only to find and communicate with interesting
        people, but create and take part in video date auctions as well.</p>
      <p>Rate Date includes a wide range of opportunities: </p>
      <ul>
        <li>easy access to the service;</li>
        <li>unlimited communication;</li>
        <li>opportunity to take part in the online video date auction as a Rater and a Dater.</li>
      </ul>
      <p>Dater – a registered user of Rate Date website, who places his or her profile on the online video date auction.</p>
      <p>Rater – a registered user of Rate Date website, who participates in a tender on the online video date auction.</p>
      <p>The primary goal of Rate Date Company is to unite as many lonely hearts as possible and make it easier for people to make acquaintances in the high tech age.</p>
    </div>
  </div>
</div>
<div class="container-fluid py-4 bg-bordo" id="business_model">
  <div class="row">
    <div class="col-xl-8  order-xl-2"><%= image_tag "business-model.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4  order-xl-1">
      <h2 class="text-center p-3">Business model</h2>
      <p>The key idea of the project is to hold online video date auctions.

      <p>Any registered user can place his or her profile on an auction as a Dater and make bets at other auctions as a Rater. When creating an auction, the Dater has an opportunity to select bet ticks and auction timeframes at his own discretion.</p>

      <p>Dater will get access to the funds from the winning bet after the video date has taken place, in case of the absence of complaints from either of the parties. Rate Date service charges commission for every successful deal amounting to 20% of the winning bet. All the funds received from the online auction can be use within the service, as well as withdrawn to your personal wallet.</p>

      <p>Monetization Methods and using RDT in the service:
        <ul>
          <li>the acquisition of premium accounts with enhanced functionality;</li>
          <li>additional services for communication (gifts, emoji, etc.);</li>
          <li>participation on the online video date auctions.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid py-4 bg-grey">
  <div class="row">
    <div class="col-xl-8 align-self-center"><%= image_tag "secure.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4 order-xl-1">
      <h2 class="text-center p-3">Security and Restrictions</h2>
      <p>Service Rate Date against using any type of fraud.</p><p>
        To avoid using of the site for commercial purposes, the number of auctions for
        the Dater (Initiator) will be limited. It does not extend to the possibility Rater
      (tenderer) and charity auctions.</p><p>
        It is forbidden to use the resources to display any kind of erotic services.</p>
    </div>
  </div>
</div>
<div class="container-fluid py-4" id="charity">
  <div class="row">
    <div class="col-xl-8 order-xl-2 align-self-center"><%= image_tag "charity.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4 order-xl-1">
      <h2 class="text-center p-3">Charitable online video date auction</h2>
      <p>The company Rate Date provides an opportunity to participate in a charity event on the RateDate.net resource. The special function of the site will be a section with the holding of charity online video date auction. All funds received from the auctions will be transferred to charitable foundations.</p>
    </div>
  </div>
</div>
<div class="container-fluid justify-content-around btn-toolbar p-5 bg-bordo-wh">
  <a href="/assets/white_paper_en_1.1.pdf" class="btn btn-lg btn-secondary m-3 text-uppercase font-weight-bold"  target="_blank">Download White Paper</a>
  <a href="https://ratedate.net/" class="btn btn-lg btn-secondary m-3 text-uppercase font-weight-bold" target="_blank">Rate Date Website</a>
</div>
<div class="container-fluid py-4 bg-grey" id="tokens">
  <div class="row">
    <div class="col-xl-8"><%= image_tag "tokens.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4">
      <h2 class="text-center p-3">Tokens</h2>
      <p>To launch the investment program, Rate Date issues RDT for selling.</p>
      <p>RDT token (Rate Date Token) – is an internal payment unit of the service, which grants the right to purchase additional services and participate in the online video date auctions.</p>

      <p>All the RDT holders have an opportunity to make free use of token within Rate Date service, as well as for using them on the exchange.</p>

      <p>The number of tokens is limited: 50&nbsp000&nbsp000 RDT, issued on Ethereum, ERC20.  For sale in ICO will be exposed 37&nbsp000&nbsp000 RDT.  During the ICO period, Rate Date plans to attract the maximum 10&nbsp000 ETH of investments.</p>

      <p>Purchase of RDT – is a favorable and promising investment. Unique opportunities of the resource assume high level of demand for chargeable functionalities that will trigger growth of RDT price and will generate the expected profit for investors.</p>

      <p>In the wake of rising amount of new Rate Date users, tokens will be bought back in order to support the service’s ecosystem.</p>
    </div>
  </div>
</div>
<div class="container-fluid py-4" id="graphs">
  <div class="row">
    <div class="col-lg-6">
      <div class="font-weight-bold text-uppercase text-center py-3">Сhange in the price of RDT for users inside the service</div>
      <%= image_tag "token_price.png", class: "img-fluid mx-auto d-block" %>
    </div>
    <div class="col-lg-6">
      <div class="font-weight-bold text-uppercase text-center py-3">The RDT buyback according to purchases inside the service</div>
      <%= image_tag "tokens_buyback.png", class: "img-fluid mx-auto d-block" %>
    </div>
  </div>
</div>
<div class="container-fluid py-4" id="graphs">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag "graphs-1.png", class: "img-fluid mx-auto d-block" %>
    </div>
    <div class="col-lg-6">
      <%= image_tag "graphs2.png", class: "img-fluid mx-auto d-block" %>
    </div>
  </div>
</div>

<div class="container-fluid py-4 bg-bordo-wh" id="bonus">
  <div class="row">
    <div class="col-xl m-3 rounded bg-white">
      <h2 class="text-center">PRE-SALE #1</h2>
      <p class="text-center">+50%<br>
        1 ETH = 4500 RDT <br>
        HARD CAP = 1 000 ETH <br>
        15.01.18 - 21.01.18
      </p>
    </div>
    <div class="col-xl m-3 rounded bg-white">
      <h2 class="text-center">PRE-SALE #2</h2>
      <p class="text-center">+40% <br>
        1 ETH = 4200 RDT <br>
        HARD CAP = 2 000 ETH <br>
        22.01.18 - 04.02.18
      </p>
    </div>
  </div>
</div>
<div class="container-fluid py-4 bg-bordo" >
  <h2 class="text-center p-3">ICO duration:<br> February 12, 2018 - March 28, 2018</h2>
  <div class="row justify-content-center">
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus1.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus2.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus3.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus4.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus5.png", class: "img-fluid" %>
    </div>
  </div>
</div>
<div class="container-fluid py-4" id="bounty">
  <div class="row">
    <div class="col-xl-8 align-self-center"><%= image_tag "bounty.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4 ">
      <h2 class="text-center p-3">Bounty</h2>
      <p>For the bounty program will be allocated 2 500 00 RDT.</p>
      <p>For attracting each registered potential investor 10 RDT will be credited for, within the bounty program, during the ICO and after the launch of the RateDate.net service.</p>
      <p>For each involved user, who invested in the project will be credited with an additional 100 RDT to the account of the participant of the Bounty program.</p>
      <p>Advantages of Bounty Rate Date:</p>
      <ol>
        <li>Excludes the possibility of a sharp fall in the rate of RDT due to the defrosting of the Bounty pool.</li>
        <li>Attraction of 250 000 new users to the RateDate.net resource.</li>
        <li>Each registered user within the Service RateDate.net has the ability to attract users through the Bounty program and use tokens within the resource at their discretion (all earned RDT remain on the account of the participant of the program).</li>
      </ol>
      <p>The program will remain in effect until the reserve of allocated tokens for Bounty is exhausted.</p>
    </div>
  </div>
</div>
<div class="container-fluid py-4 bg-bordo" id="stages">
  <div class="row">
    <div class="col-xl-8 order-xl-2 align-self-center"><%= image_tag "heart.png", class: 'img-fluid mx-auto d-block' %></div>
    <div class="col-xl-4 order-xl-1 pt-4">
      <h3><span class="badge badge-light badge-pill">soft cap</span></h3>
      <p>1 000 ETH - a minimum amount, required for project implementation. Providing the dating site with online video date auction and mobile application.</p>

      <h3><span class="badge badge-light badge-pill">hard cap</span></h3>
      <p>10&nbsp000 ETH - expansion of technical support, development and introduction of new chargeable services, enhanced PR campaign for attracting more than 1&nbsp000&nbsp000 users</p>
    </div>
  </div>
</div>
<div class="container-fluid py-4" id="roadmap">
  <h2 class="text-center p-3">Road Map</h2>

  <div class="row">
    <div class="col">
      <ul class="timeline">
        <li class="timeline-item">
          <div class="timeline-badge align-content-center"><i class="icon-prototype"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Prototyping of RateDate.net website</h4>
              <div class="timeline-body"><p class="time">Q4 2017</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-sale"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pre Sale</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-sale"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ICO</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-beta"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Beta version of RateDate.net website</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-coin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">RDT allocating</h4>
              <div class="timeline-body"><p class="time">Q2 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-video-camera"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Launch of the online video date auction</h4>
              <div class="timeline-body"><p class="time">Q2 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-phone"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Launch of the mobile application</h4>
              <div class="timeline-body"><p class="time">Q3 2018</p></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid py-4 bg-grey">
  <h2 class="text-center p-3">Featured On</h2>
  <div class="row p-3 justify-content-center">
    <div class="col-featured">
      <a href="https://www.icoalert.com/" class="h-100 d-flex align-items-center justify-content-center">
        <span class="icon-icoalert d-block"></span>
      </a>
    </div>
    <div class="col-featured">
      <a href="https://www.kickico.com/campaigns/35008/rate-date" class="h-100 d-flex align-items-center justify-content-center">
        <span class="icon-kickico d-block"></span>
      </a>
    </div>
    <div class="col-featured">
      <a href="https://bitcointalk.org/index.php?topic=2284274" class="h-100 d-flex align-items-center justify-content-center">
        <span class="icon-btalk d-block"></span>
      </a>
    </div>
    <div class="col-featured">
      <a href="https://icobench.com/ico/rate-date" class="h-100 d-flex align-items-center justify-content-center">
        <span class="icon-icobench d-block"></span>
      </a>
    </div>
    <div class="col-featured">
      <a href="https://icoholder.com/ico/rate-date-4104" class="h-100 d-flex align-items-center justify-content-center">
        <span class="icon-icoholder d-block"></span>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey" id="team">
  <h2 class="text-center p-3">Our Team</h2>
  <div class="row justify-content-center">
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "katerina.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-linkedin" href="https://www.linkedin.com/in/katerina-usatenko-9260b1139/"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Katerina Usatenko</h4>
          <p class="card-subtitle font-italic">Founder, CEO</p>
          <p class="card-text">Expert on foreign economic activity. 5 years of experience in successful development
            of company’s business processes, implementation in all the fields of
            commercial activity, experience in generating strategies of long-term business
            development and recurrent outlining of various marketing systems.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "abel.png", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-facebook" href="https://facebook.com/dmitriyabel"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Dmitriy Abel</h4>
          <p class="card-subtitle font-italic">Chief Technology Officer</p>
          <p class="card-text">Work experience 5 years.<br> Project manager in companies giglob.ru and syndicad.com. Participated in creation of a progressive gaming exchange.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "michail.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-linkedin" href="https://www.linkedin.com/in/%D0%BC%D0%B8%D1%85%D0%B0%D0%B8%D0%BB-%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B8%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-583084152/"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Mikhail Kruglichenko</h4>
          <p class="card-subtitle font-italic">Strategic Planning Manager</p>
          <p class="card-text">Ph.D. in Economics. 8 years of working experience in the field of economic
            development. Participant of international economic forums and seminars.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "cheshire.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-linkedin" href="https://www.linkedin.com/in/dmitriy-nadsadin-06303599/"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Dmitry Nadsadin</h4>
          <p class="card-subtitle font-italic">Project Manager, Developer</p>
          <p class="card-text">Working experience 4 years.
            Hit the podium in international Competition backed by AT Consulting and Oracle
            companies “Programming: SQL”. Experience in team software development, using
            Git and Redmine. Experience in working with North-American market.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "heyan.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-linkedin" href="https://www.linkedin.com/in/denis-goroshko-004150107/"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Denis Goroshko</h4>
          <p class="card-subtitle font-italic">Web-Designer, Front-End Developer</p>
          <p class="card-text">Working experience 8 years.
            Experience in team working on various projects in Russia (Moscow, Saint Petersburg,
            Sevastopol).
            Headed the list at an international competition World It Planet backed by Huawei
            Company in nomination of 3D modeling.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "ekaterina.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-facebook" href="https://www.facebook.com/profile.php?id=100000531726638"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Katerina Voronkina</h4>
          <p class="card-subtitle font-italic">Designer, Illustrator</p>
          <p class="card-text">Working experience 9 years. Cofounder of SMM agency “Umnaya reklama”
            (“Smart advertising”) from 2009. Claimed a victory in Ukraine-wide photo project
            “Woman’s image” from Oblik.media magazine in 2014, in which she participated
            as a retouch artist. Currently is working as a designer in developing SMM agency
            “Level up” in Saint Petersburg.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pb-4 bg-grey" id="advisors">
  <h2 class="text-center p-3">Advisors</h2>
  <div class="row justify-content-center">
    <div class="col-xl-3  col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "romanliashko_200x200.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
          <a class="team-social-1 icon-linkedin" href="https://www.linkedin.com/in/liashko/"></a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Roman Liashko</h4>
          <p class="card-subtitle font-italic">Investor and specialist in business development.</p>
          <p class="card-text">Experience in formation and developing companies from Startup to IPO with a capitalization of $ 364m. Participated in the development one of the most successful in the EU Social Trading Network (xsocial.eu).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-footer container-fluid py-4">
  <div class="row justify-content-center pt-3 text-muted">
    <div class="col-md-4"><i class="icon-logo h1 text-light"></i></div>
    <div class="col-md-4 text-center">Copyright © Rate Date<br>info@ratedate.net</div>
    <div class="col-md-4 text-right">
      <div>Follow Us:</div>
      <div class="nav justify-content-end">
        <a href="https://www.facebook.com/Rate-Date-861947790626663/" class="icon-facebook h4 nav-link text-light" target="_blank"></a>
        <a href="https://twitter.com/RateDate2" class="icon-twitter h4 nav-link text-light" target="_blank"></a>
        <a href="https://t.me/icoratedate" class="icon-telegram h4 nav-link text-light" target="_blank"></a>
        <a href="https://medium.com/@usatenko.katerina" class="icon-medium h4 nav-link text-light" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
