<div class="base-section">
  <div class="section">
    <div class="base-section-wrap">
      <h2 class="center">Всемирная пиринговая социальная сеть знакомств</h2>
      <p class="center medium">Rate Date – революция в индустрии онлайн дейтинга.</p>

      <div class="timer">
        <p class="timer-title">ICO START: </p>

        <p class="timer-digit">
          <span class="timer-digit-label">ДНИ</span>
          <span class="timer-digit-value" id="tDayNum">2</span>
        </p>
        <p class="timer-digit">
          <span class="timer-digit-label">ЧАСЫ</span>
          <span class="timer-digit-value" id="tHourNum">2</span>
        </p>
        <p class="timer-digit">
          <span class="timer-digit-label">МИНУТЫ</span>
          <span class="timer-digit-value" id="tMinNum">41</span>
        </p>
        <p class="timer-digit">
          <span class="timer-digit-label">СЕКУНДЫ</span>
          <span class="timer-digit-value" id="tSecNum">32</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="stats-section" id="about">
  <div class="section">
    <div class="stats-section">
      <div class="grid-xs-1 grid-md-2 grid-lg-3">
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value">Мировая статистика</p>
            <p class="stats-item-text">индустрии онлайн знакомств</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">$3 миллиарда</p>
            <p class="stats-item-text">Годовой доход в интернет-индустрии знакомств превысил 3 миллиарда долларов</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">26%</p>
            <p class="stats-item-text">
              Наиболее активные страны, пользователи которых регулярно пользуются платными услугами сайтов знакомств - это США (26%), Великобритания (21%) и Германия (17%).
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">up to 27%</p>
            <p class="stats-item-text">
              Использование интернет-знакомств (сайтов и приложений) среди молодых людей (в возрасте от 18 до 24 лет) практически утроилось с 2013 по 2016 год (с 10% до 27%).
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">5.3%</p>
            <p class="stats-item-text">Годовой темп роста с 2012 по 2017 год составляет 5,3%.</p>
          </div>
        </div>
        <div class="cell">
          <div class="stats-item">
            <p class="stats-item-value circle">44%</p>
            <p class="stats-item-text">
              44% успешных онлайн-дейтеров заявили, что использование онлайн-знакомств привело к бракам или серьезным долгосрочным отношениям.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="about" class="text-section">-->
<!--<div class="section">-->
<!--<div class="text-section-wrap">-->
<!--<p class="medium title">-->
<!--Annual Revenue in the Online Dating-->
<!--Industry Has Surpassed $3 Billion-->
<!--</p>-->
<!--<p class="medium">-->
<!--The largest share of adults worldwide who are actively-->
<!--paying for a dating service are from United States (26%),-->
<!--United Kingdom (21%), <span class="nowrap">and Germany (17%)</span>.-->
<!--</p>-->
<!--<p class="medium">-->
<!--The use of online dating services (sites and apps) among-->
<!--young adults (ages 18-24) nearly tripled from 2013 to 2016 (from 10% to 27%).-->
<!--</p>-->
<!--<p class="medium additional-offset">-->
<!--The annual growth rate from 2012 to 2017 is 5.3%.-->
<!--</p>-->
<!--<p class="medium">-->
<!--44% of online daters who had success said that their-->
<!--use of online dating led to marriages or serious long-term relationships.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="description-section bubble left-to-right">
  <div class="section">
    <div class="description-section-wrap">
      <h3>Новый тренд в индустрии онлайн-знакомств</h3>
      <p class="rate-date">
        Rate Date - это социальная сеть знакомств с уникальной возможностью проведения онлайн аукциона видео свиданий. Этот сервис дарит возможность не только находить и общаться с интересными людьми, но и создавать, и принимать участие в аукционах видео-свиданий.
      </p>
      <p class="grid-title center">Rate Date включает в себя широкий спектр возможностей:</p>
      <div class="grid-xs-1 grid-md-3">
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description1.svg')%>>
                <%= image_tag 'description1.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              простой доступ к сервисам
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description2.svg')%>>
                <%= image_tag 'description2.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              возможность участвовать в онлайн аукционах видео-свиданий в
              качестве участника торгов (Rater) и соискателя (Dater)
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="description bubble-border">
            <div class="description-image">
              <object type="image/svg+xml" data=<%=image_url('description3.svg')%>>
                <%= image_tag 'description3.png', alt: "description-image" %>
              </object>
            </div>
            <p class="description-text">
              безграничное общение
            </p>
          </div>
        </div>
      </div>
      <span class="clear"></span>
      <p class="dater">
        Dater - зарегистрированный пользователь сайта Rate Date, который выставляет свой профайл на онлайн аукцион видео свиданий.
      </p>
      <p class="rater">
        Rater - зарегистрированный пользователь сайта Rate Date, который участвует в торгах онлайн аукциона видео свиданий.
      </p>
      <p>
        Главной целью компании Rate Date является объединение как можно большего количества одиноких сердец и упрощение знакомства людей в эпоху высоких технологий.
      </p>
    </div>
  </div>
</div>

<div class="business-model-section">
  <div class="section">
    <div class="business-model-section-wrap">
      <div class="left">
        <h3>Бизнес-модель</h3>
        <p>
          Основная идея проекта – это проведение онлайн аукциона видео свиданий.
        </p>
        <p>
          Любой зарегистрированный пользователь сможет выставлять свой профайл на торги в качестве Dater и делать ставки на других аукционах в качестве Rater. Создавая аукцион, Dater имеет возможность самостоятельно выбирать шаги ставок и временные рамки торгов.
        </p>
        <p class="no-offset">
          По окончанию аукциона средства от выигрышной ставки замораживаются на счету Dater и будут доступны после состоявшегося видео свидания, в случае отсутствия жалоб любой из сторон. Сервис Rate Date взымает комиссию от каждой удачной сделки в размере 20% от выигрышной ставки. Все средства полученные от онлайн аукциона можно использовать внутри сервиса, а так же выводить на персональный кошелек.
        </p>
        <p>Способы монетизации проекта и использование RDT внутри сервиса:</p>
        <p class="no-offset">возможность приобретения премиум-аккаунтов с расширенным функционалом;</p>
        <p class="no-offset">дополнительные услуги сервиса для общения (подарки, эмоджи и т.д.);</p>
        <p>участие в онлайн аукционах видео свиданий.</p>
      </div>
      <div class="right">
                <span class="complex-contour">
                    <%= image_tag 'business.png'%>
                </span>
      </div>
    </div>
  </div>
</div>

<div id="token" class="tokens-section bubble right-to-left">
  <div class="section">
    <div class="tokens-section-wrap">
      <h3>Токены</h3>
      <p>Для запуска инвестиционной программы Rate Date выпускает в продажу RDT.</p>
      <p>Токен RDT (Rate Date Token) - это внутренняя платежная единица сервиса, которая предоставляет право приобретения дополнительных услуг и участия в онлайн аукционах видео свиданий.</p>

      <p>Все держатели RDT имеют возможность свободно распоряжаться токенами в рамках сервиса Rate Date, а так же для использования на бирже.</p>

      <p>Количество токенов ограничено: 50&nbsp000&nbsp000 RDT, выпущенные на платформе Ethereum, ERC20. Для реализации в ICO кампании выделяется 37&nbsp000&nbsp000 RDT с hardcap 5&nbsp000 ETH.</p>

      <p>Приобретение RDT - это выгодное и перспективное вложение. Уникальные возможности ресурса предполагают высокий спрос на платный функционал, что станет толчком для роста цен на RDT и принесет инвесторам ожидаемую прибыль.</p>

      <%= link_to 'Участвовать/KYC', ico_sign_up_path(:locale => params[:locale]), class: "button white" %>
    </div>
  </div>
</div>

<div class="images-section">
  <div class="section">
    <div class="images-section-wrap">
      <div class="grid-xs-1 grid-md-2">
        <div class="cell">
          <div class="image">
            <p class="image-title">Изменение стоимости RDT для пользователей внутри сервиса</p>
            <%= image_tag 'graph01-04.png'%>
          </div>
        </div>
        <div class="cell">
          <div class="image">
            <p class="image-title">Производимый выкуп RDT от покупок внутри сервиса</p>
            <%= image_tag 'graph02-04.png'%>
          </div>
        </div>
        <div class="cell">
          <div class="image">
            <p class="image-title">Распределение токенов</p>
            <%= image_tag 'graph03-04.png'%>
          </div>
        </div>
        <div class="cell">
          <div class="image">
            <p class="image-title">Распределение фонда ICO</p>
            <%= image_tag 'graph04-04.png'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="screenshots" class="screenshots-section bubble left-to-right">
  <div class="section">
    <div class="screenshots-section-wrap">
      <h3>Присоединяйся и получай удовольствие от великолепного дизайна и простоты использования</h3>
      <span class="clear"></span>
      <div class="left">
        <%= image_tag 'screenshots-image.png'%>
      </div>
      <div class="right">
        <p>Используйте свои RDT для приобретения привилегированных функций сайта.</p>
        <p>
          Участвуй в аукционах, покупай подарки и стикеры, прокачивай свой премиум аккаунт и наслаждайся уникальными возможностями для онлайн-знакомства.
        </p>

        <a href="https://ratedate.net" class="button white">Go to Rate Date beta</a>
      </div>
      <span class="clear"></span>
    </div>
  </div>
</div>

<div id="bonus" class="bonuses-section">
  <div class="section">
    <div class="bonuses-section-wrap">
      <h3>Бонусы</h3>
      <div class="image">
        <%= image_tag('coins.png') %>
      </div>
      <ul class="bonus-list">
        <li>
          <p class="bonus-day">День 1-3</p>
          <p class="bonus-percent">20%</p>
        </li>
        <li>
          <p class="bonus-day">День 4-10</p>
          <p class="bonus-percent">15%</p>
        </li>
        <li>
          <p class="bonus-day">День 11-17</p>
          <p class="bonus-percent">10%</p>
        </li>
        <li>
          <p class="bonus-day">День 18-24</p>
          <p class="bonus-percent">5%</p>
        </li>
        <li>
          <p class="bonus-day">День 25-33</p>
          <p class="bonus-percent">Без бонусов</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="road-map" class="road-map-section bubble left-to-right">
  <div class="section">
    <div class="road-map-section-wrap">
      <h3>Road map</h3>
      <ul class="roadmap-list">
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-prototype"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q4 2017</p>
            <p class="road-bubble-text">Разработка прототипа сайта RateDate.net</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-sale"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q1 2018</p>
            <p class="road-bubble-text">Pre Sale</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-sale"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q1 2018</p>
            <p class="road-bubble-text">ICO</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-coin"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q1 2018</p>
            <p class="road-bubble-text">Beta версия сайта RateDate.net</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-beta"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">April 15, 2018</p>
            <p class="road-bubble-text">Разморозка RDT</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-video-camera"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q2 2018</p>
            <p class="road-bubble-text">Запуск онлайн аукциона видео-свиданий</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-phone"></span></div>
          <div class="road-bubble">
            <p class="road-bubble-title">Q3 2018</p>
            <p class="road-bubble-text">Запуск мобильного приложения</p>
          </div>
        </div></li>
        <li><div class="roadmap-item">
          <div class="icon-wrap"><span class="icon icon-comment"></span></div>
          <div class="road-bubble to-left">
            <p class="road-bubble-title">Q3 2018</p>
            <p class="road-bubble-text">Запуск бета версии datenet</p>
          </div>
        </div></li>
      </ul>
    </div>
  </div>
</div>

<div class="partners-section">
  <div class="section">
    <div class="partners-section-wrap">
      <h3 class="center">Featured on</h3>

      <div class="grid-wrap">
        <div class="grid-xs-1 grid-md-2 grid-lg-3">
          <div class="cell">
            <a href="https://www.icoalert.com/" class="partner"><span class="icon-icoalert"></span></a>
          </div>
          <div class="cell">
            <a href="https://www.kickico.com/campaigns/35008/rate-date" class="partner"><span class="icon-kickico"></span></a>
          </div>
          <div class="cell">
            <a href="https://bitcointalk.org/index.php?topic=2284274" class="partner"><span class="icon-btalk"></span></a>
          </div>
          <div class="cell">
            <a href="https://icobench.com/ico/rate-date" class="partner"><span class="icon-icobench"></span></a>
          </div>
          <div class="cell">
            <a href="https://icoholder.com/ico/rate-date-4104" class="partner"><span class="icon-icoholder"></span></a>
          </div>
          <div class="cell">
            <a href="https://icotracker.net/project/rate_date" class="partner"><span class="icon-ico_tracker"></span></a>
          </div>
          <div class="centered-lg">
            <div class="cell">
              <a href="http://www.ico-lister.com/ico/RDT" class="partner"><span class="icon-ico-lister"></span></a>
            </div>
            <div class="cell">
              <a href="https://icovoting.com/project/rate-date" class="partner"><span class="icon-ico_voting"></span></a>
            </div>
          </div>
        </div>
      </div>

      <h3 class="center">Партнеры</h3>
      <a href="http://inicta.com/" class="partner alone"><span class="icon-inicta"></span></a>
    </div>
  </div>
</div>

<div id="team" class="team-section bubble left-to-right">
  <div class="section">
    <div class="team-section-wrap">

      <h3>Our team</h3>
      <div class="participants">
        <div class="grid-xs-1 grid-sm-2 grid-md-3">
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/katerina-usatenko-9260b1139/" class="participant-image" target="_blank">
                <%= image_tag 'katerina.jpg'%>
              </a>
              <p class="participant-name">Усатенко Екатерина</p>
              <p class="participant-position">Founder, CEO</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://facebook.com/dmitriyabel" class="participant-image facebook" target="_blank">
                <%= image_tag 'abel.png'%>
              </a>
              <p class="participant-name">Абель Дмитрий</p>
              <p class="participant-position">Технический руководитель проекта</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/%D0%BC%D0%B8%D1%85%D0%B0%D0%B8%D0%BB-%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B8%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-583084152/" class="participant-image" target="_blank">
                <%= image_tag 'michail.jpg'%>
              </a>
              <p class="participant-name">Кругличенко Михаил</p>
              <p class="participant-position">Менеджер по стратегическому планированию</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/dmitriy-nadsadin/" class="participant-image" target="_blank">
                <%= image_tag 'cheshire.jpg'%>
              </a>
              <p class="participant-name">Надсадин Дмитрий</p>
              <p class="participant-position">Проект менеджер, разработчик</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.linkedin.com/in/denis-goroshko-004150107/" class="participant-image" target="_blank">
                <%= image_tag 'heyan.jpg'%>
              </a>
              <p class="participant-name">Горошко Денис</p>
              <p class="participant-position">Web-Дизайнер, Иллюстратор</p>
            </div>
          </div>
          <div class="cell">
            <div class="participant bubble-border">
              <a href="https://www.facebook.com/profile.php?id=100000531726638" class="participant-image facebook" target="_blank">
                <%= image_tag 'ekaterina.jpg'%>
              </a>
              <p class="participant-name">Воронкина Екатерина</p>
              <p class="participant-position">Дизайнер, Иллюстратор</p>
            </div>
          </div>
        </div>
      </div>

      <h3>Консультанты</h3>
      <div class="participant bubble-border horizontal">
        <a href="https://www.linkedin.com/in/liashko/" class="participant-image">
          <%= image_tag 'romanliashko_200x200.jpg'%>
        </a>
        <p class="participant-name">Ляшко Роман</p>
        <p class="participant-position">Инвестор и специалист по развитию бизнеса.</p>
        <p class="participant-text">
          Опыт построения и развития компаний от Startup до IPO с капитализацией $364m. Участвовал в развитии одной из наиболее успешных в ЕС Social Trading Network (xsocial.eu).
        </p>
      </div>
      <div class="participant bubble-border horizontal">
        <a href="https://www.linkedin.com/in/livant/" class="participant-image">
          <%= image_tag 'igor_livant.jpg'%>
        </a>
        <p class="participant-name">Ливант Игорь</p>
        <p class="participant-position">Вице-президент по инвестициям, Telf AG</p>
        <p class="participant-text">Карьера охватывает более 17 лет в сфере финансовых услуг и консалтинга. Работал исполнительным директором в Goldman Sachs, Troika Dialog и Aton; Ассоциированный директор McKinsey & Company, управлял собственной консалтинговой фирмой и теперь работает вице-президентом по инвестициям в TELF AG, торговой компании.<br>
          Также является советником Walimai, компании, которая успешно провела ICO в ноябре 2017 года, а также несколько других криптовалютных проектов.<br>
          Обширный опыт дает ему передовые практические знания в области финансового менеджмента, опыта привлечения капитала, управленческого консалтинга, слияний и поглощений.
        </p>
      </div>
    </div>
  </div>
</div>