
<div class="container-fluid container-start">
  <nav class="navbar navbar-expand-lg navbar-dark bg-fade justify-content-between fixed-top navbar-ico">
    <a class="navbar-brand" href="#">
      <span class="icon-logo display-3"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarICO" aria-controls="navbarICO" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-lp" id="navbarICO">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link m" href="#about">о проекте</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#tokens">токены</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#bonus">бонусы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#bounty">bounty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#roadmap">road map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m" href="#team">команда</a>
        </li>
        <li class="nav-item">
          <%= link_to "загрузить white paper", root_path+"/assets/white_paper_ru.pdf", {class: "nav-link", target: "_blank"} %>
        </li>
        <li class="nav-item">
          <%= link_to "en", { locale: :en }, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <%= image_tag "ratedate.png", class: "img-fluid" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6 text-center text-light pt-3">
      <h2>Pre-ICO Start</h2>
      <div class="row">
        <div class="col-3">
          <small>Дни</small>
          <div class="display-4" id="tDayNum">--</div>
        </div>
        <div class="col-3">
          <small>Часы</small>
          <div class="display-4" id="tHourNum">--</div>
        </div>
        <div class="col-3">
          <small>Минуты</small>
          <div class="display-4" id="tMinNum">--</div>
        </div>
        <div class="col-3">
          <small>Секунды</small>
          <div class="display-4" id="tSecNum">--</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <span class="display-4 icon-ethereum"></span>
          <span class="display-4">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3"></div>
  </div>
</div>
<div class="container-fluid " id="about">
  <div class="row">
    <div class="col-12 col-xl-8"><%= image_tag "about.png", class: 'img-fluid' %></div>
    <div class="col-12 col-xl-4">
      <h2 class="text-center p-3">О компании</h2>
      <p>Rate Date - это сайт знакомств с уникальной возможностью проведения онлайн аукциона видео свиданий.</p>
      <p>Rate Date включает в себя широкий спектр возможностей:</p>
      <ul>
        <li>простой доступ к сервису;</li>
        <li>безграничное общение;</li>
        <li>возможность участвовать в онлайн аукционах видео-свиданий в качестве участника торгов (Rater) и соискателя (Dater).</li>
      </ul>
      <p>Dater - зарегистрированный пользователь сайта Rate Date, который выставляет свой профайл на онлайн аукцион видео свиданий.</p>
      <p>Rater - зарегистрированный пользователь сайта Rate Date, который участвует в торгах онлайн аукциона видео свиданий.</p>
      <p>Главной целью компании Rate Date является объединение как можно большего количества одиноких сердец и упрощение знакомства людей в эпоху высоких технологий.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4 text-bordo">
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey" id="tokens">
  <div class="row">
    <div class="col-xl-8 order-xl-2 align-self-center"><%= image_tag "tokens.png", class: 'img-fluid' %></div>
    <div class="col-xl-4 order-xl-1">
      <h2 class="text-center p-3">Токены</h2>
      <p>Для запуска инвестиционной программы Rate Date выпускает в продажу RDT.</p>
      <p>Токен RDT (Rate Date Token) - это внутренняя платежная единица сервиса, которая предоставляет право приобретения дополнительных услуг и участия в онлайн аукционах видео свиданий.</p>

      <p>Все держатели RDT имеют возможность свободно распоряжаться токенами в рамках сервиса Rate Date, а так же для использования на бирже.</p>

      <p>Количество токенов ограничено: 50 000 000 RDT, выпущенные на платформе Ethereum, ERC20. Для реализации в ICO кампании выделяется 40 000 000 RDT с hardcup 10 000 ETH.</p>

      <p>Приобретение RDT - это выгодное и перспективное вложение. Уникальные возможности ресурса предполагают высокий спрос на платный функционал, что станет толчком для роста цен на RDT и принесет инвесторам ожидаемую прибыль.</p>

      <p>По мере роста числа новых пользователей сайта Rate Date будет осуществляться выкуп токенов для поддержания экосистемы сервиса.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4 text-bordo">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-bordo" id="business_model">
  <div class="row">
    <div class="col-xl-8 align-self-center"><%= image_tag "business-model.png", class: 'img-fluid' %></div>
    <div class="col-xl-4 ">
      <h2 class="text-center p-3">Бизнес-модель</h2>
      <p>Основная идея проекта – это проведение онлайн аукциона видео свиданий.</p>

      <p>Любой зарегистрированный пользователь сможет выставлять свой профайл на торги в качестве Dater и делать ставки на других аукционах в качестве Rater. Создавая аукцион, Dater имеет возможность самостоятельно выбирать шаги ставок и временные рамки торгов.</p>

      <p>По окончанию аукциона средства от выигрышной ставки замораживаются на счету Dater и будут доступны после состоявшегося видео свидания, в случае отсутствия жалоб любой из сторон. Сервис Rate Date взымает комиссию от каждой удачной сделки в размере 20% от выигрышной ставки. Все средства полученные от онлайн аукциона можно использовать внутри сервиса, а так же выводить на персональный кошелек.</p>

      <p>Способы монетизации проекта и использование RDT внутри сервиса:
      <ul>
        <li>возможность приобретения премиум-аккаунтов с расширенным функционалом;</li>
        <li>дополнительные услуги сервиса для общения (подарки, эмоджи и т.д.);</li>
        <li>участие в онлайн аукционах видео свиданий.</li>
      </ul>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey" id="charity">
  <div class="row">
    <div class="col-xl-8 order-xl-2 align-self-center"><%= image_tag "charity.png", class: 'img-fluid' %></div>
    <div class="col-xl-4 order-xl-1">
      <h2 class="text-center p-3">Благотворительный онлайн аукцион видео свиданий</h2>
      <p>Компания Rate Date предоставляет возможность каждому пользователю поучаствовать в благотворительной акции на базе ресурса RateDate.net. Отдельной функцией сайта будет раздел с проведением благотворительных аукционов видео свиданий. Все средства полученные от аукционов такого типа будут переданы благотворительным фондам.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4 text-bordo">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="graphs">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag "graphs1.png", class: "img-fluid" %>
    </div>
    <div class="col-lg-6">
      <%= image_tag "graphs2.png", class: "img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4 text-bordo">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-bordo" id="bonus">
  <div class="row justify-content-center">
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus1.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus2.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus3.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus4.png", class: "img-fluid" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= image_tag "bonus5.png", class: "img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="bounty">
  <div class="row">
    <div class="col-xl-8 align-self-center"><%= image_tag "bounty.png", class: 'img-fluid' %></div>
    <div class="col-xl-4 ">
      <h2 class="text-center p-3">Bounty</h2>
      <p>Rate Date предоставляет возможность получить RDT привлекая инвесторов. Для bounty программы выделено 2 500 000 RDT, которые будут пропорционально распределены между участниками относительно вкладов привлеченных инвесторов. </p>
      <p>Реферальную ссылку можно получить в личном кабинете после регистрации.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4 text-bordo">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-bordo" id="stages">
  <div class="row">
    <div class="col-xl-8 order-xl-2 align-self-center"><%= image_tag "stages.png", class: 'img-fluid' %></div>
    <div class="col-xl-4 order-xl-1">
      <h2 class="text-center p-3">Stages</h2>
      <h3><span class="badge badge-light badge-pill">Stage # 1</span></h3>
      <p>$150 000 - минимальная сумма необходимая для реализации проекта. Сайт знакомств с онлайн аукционом видео свиданий.</p>

      <h3><span class="badge badge-light badge-pill">Stage # 2</span></h3>
      <p>$400 000 -  мобильное приложение, усиленная PR компания.</p>
      <h3><span class="badge badge-light badge-pill">Stage # 3</span></h3>
      <p>$1 000 000 - выход на рынки новых регионов, расширение технической поддержки, разработка и внедрение новых платных услуг.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3 display-4">
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
        <span class="icon-heart"></span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="roadmap">
  <h2 class="text-center p-3">Road Map</h2>

  <div class="row">
    <div class="col">
      <ul class="timeline">
        <li class="timeline-item">
          <div class="timeline-badge align-content-center"><i class="icon-prototype"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Разработка прототипа сайта RateDate.net</h4>
              <div class="timeline-body"><p class="time">Q4 2017</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-sale"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pre Sale</h4>
              <div class="timeline-body"><p class="time">Q4 2017</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-sale"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ICO</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-coin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Распределение RDT</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-beta"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Beta версия сайта RateDate.net</h4>
              <div class="timeline-body"><p class="time">Q1 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-video-camera"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Запуск онлайн аукциона видео-свиданий</h4>
              <div class="timeline-body"><p class="time">Q2 2018</p></div>
            </div>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-badge"><i class="icon-phone"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Запуск мобильного приложения</h4>
              <div class="timeline-body"><p class="time">Q3 2018</p></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey" id="team">
  <h2 class="text-center p-3">Our Team</h2>
  <div class="row justify-content-center card-group">
    <div class="col-xl-2 col-lg col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "katerina.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Усатенко Екатерина</h4>
          <p class="card-text font-italic">Founder, CEO</p>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "michail.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Кругличенко Михаил</h4>
          <p class="card-text font-italic">Менеджер по стратегическому планированию</p>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "cheshire.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Надсадин Дмитрий</h4>
          <p class="card-text font-italic">Проект менеджер, разработчик</p>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "heyan.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Горошко Денис</h4>
          <p class="card-text font-italic">Дизайнер, Front-End разработчик</p>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg col-sm-6 mb-3">
      <div class="card card-team h-100">
        <div class="card-img-top p-3">
          <%= image_tag "ekaterina.jpg", class: "rounded-circle img-thumbnail mx-auto d-block" %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Воронкина Екатерина</h4>
          <p class="card-text font-italic">Дизайнер, Иллюстратор</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-footer container-fluid">
  <div class="row justify-content-center pt-3 text-muted">
    <div class="col-md-4"><i class="icon-logo h1 text-light"></i></div>
    <div class="col-md-4 text-center">Copyright © Rate Date<br>info@ratedate.com</div>
    <div class="col-md-4 text-right">
      <div>Следите за развитием проекта:</div>
      <div class="nav justify-content-end">
        <a href="https://www.facebook.com/Rate-Date-861947790626663/" class="icon-facebook h4 nav-link text-light"></a>
        <a href="https://twitter.com/RateDate2" class="icon-twitter h4 nav-link text-light"></a>
        <a href="https://t.me/joinchat/FnaGEQvA8Z54oH4AM2vIIQ" class="icon-telegram h4 nav-link text-light"></a>
      </div>
    </div>
  </div>
</div>
