<h2><%= t('.sign_in') %></h2>

<div class="login-form active">
<%= devise_error_messages! %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p class="input">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"   %>
  </p>

  <p class="input">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </p>

  <% if devise_mapping.rememberable? %>
    <p class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
  <% end %>

  <div class="center">
    <%= f.submit t('.sign_in'), class: "round-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>