<div class="container account">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <div class="timer">
          <p class="timer-title">ICO START: </p>

          <p class="timer-digit">
            <span class="timer-digit-label">DAYS</span>
            <span class="timer-digit-value" id="tDayNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">HOURS</span>
            <span class="timer-digit-value" id="tHourNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">MINUTES</span>
            <span class="timer-digit-value" id="tMinNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">SECONDS</span>
            <span class="timer-digit-value" id="tSecNum">--</span>
          </p>
        </div>
        <div class="h4 center">Token Sale Schedule</div>
        <table class="table table-light table-striped">
          <tr>
            <td>Pre-Sale</td>
            <td>15.01.18 - 10.02.18</td>
            <td>+50%</td>
            <td>1ETH = 9000 RDT</td>
          </tr>
          <tr>
            <td>Step 1</td>
            <td>24.02.18 - 26.02.18</td>
            <td>+20%</td>
            <td>1ETH = 7200 RDT</td>
          </tr>
          <tr>
            <td>Step 2</td>
            <td>27.02.18 - 05.03.18</td>
            <td>+15%</td>
            <td>1ETH = 6900 RDT</td>
          </tr>
          <tr>
            <td>Step 3</td>
            <td>06.03.18 - 12.03.18</td>
            <td>+10%</td>
            <td>1ETH = 6600 RDT</td>
          </tr>
          <tr>
            <td>Step 4</td>
            <td>13.03.18 - 19.03.18</td>
            <td>+5%</td>
            <td>1ETH = 6300 RDT</td>
          </tr>
          <tr>
            <td>Step 5</td>
            <td>20.03.18 - 28.03.18</td>
            <td>&nbsp</td>
            <td>1ETH = 6000 RDT</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <% if current_ico_user.kyc.nil? %>
            <p><strong>Please fill in identity authentication form to obtain smart contract address</strong></p>
        <% else %>
            <div class="row">
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><span id="eth_balance">0</span> RDT</div><div class="h5 text-center">Balance</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count %></div><div class="h5 text-center">Referrals</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count*10 %> RDT</div><div class="h5 text-center">Referral Bonus</div></div>
              </div>
            </div>
            <strong>The smart contract address:</strong>
            <div class="text-secondary">The smart contract will be available on February 24</div>
        <% end %>
        <ul>
          <li>Min pledge is 0.1 ETH;</li>
          <li>Set GAS 300 000 (unused gas will be returned to you);</li>
          <li>We recommend to use myetherwallet.com</li>
        </ul>
        <% if current_ico_user.kyc.nil? %>
            <%= render 'kyc_form' %>
        <% else %>
            <strong>The ETZ wallet for investing will be available on February 24</strong>
            <div class="pb-2">Transfer ETZ tutorials for all possible wallets <a href="http://etherzero.org/tutorials/" class="text-secondary">http://etherzero.org/tutorials/</a></div>
            <div class="pb-2"><strong>Attention:</strong> minimal amount 1 ETZ. The fee is less than the amount claimed for the accrual of RDT will not be processed. Amount of RDT will be calculated on ETZ/ETH by yobit at the transaction time.</div>
            <div>
              Your referral link to participate in the Bounty program:
              <strong><%= ref_link %></strong><br>
              Your ETH wallet: <span id="eth_wallet" class="text-truncate d-inline-block w-100"><%= current_ico_user.eth_wallet %></span>
            </div>
            <div class="h4">Purchase History(ETH)</div>
            <table class="table table-light table-striped">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>ETH</th>
                  <th>RDT</th>
                </tr>
              </thead>
              <tbody id="purchase_history_data"></tbody>
            </table>
        <% end %>
      </div>
    </div>
    <p class="h4">Bounty Program</p>
    <p>Any user who has an own website, blog or social network account can take our Bounty Rate Date program. User is rewarded with 10RTD for each potential investor, engaged by him before starting ICO or during it. User can receive additional rewarding of 100RTD if investor engaged by him deposits any funds into ICO program. Rewarding arrives in a wallet balance, pointed in a personal account.</p>
    <p><strong>ATTENTION!</strong> Do not use online exchanges addresses or another’s ones. Use only your own addresses which you can fully control. Otherwise your RDT would be lost.</p>
  </div>
</div>