<div class="container account">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <div class="timer">
          <p class="timer-title" id="presaletext">ICO START: </p>

          <p class="timer-digit">
            <span class="timer-digit-label">DAYS</span>
            <span class="timer-digit-value" id="tDayNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">HOURS</span>
            <span class="timer-digit-value" id="tHourNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">MINUTES</span>
            <span class="timer-digit-value" id="tMinNum">--</span>
          </p>
          <p class="timer-digit">
            <span class="timer-digit-label">SECONDS</span>
            <span class="timer-digit-value" id="tSecNum">--</span>
          </p>
        </div>
        <% if current_ico_user.eth_wallet.nil? %>
        <p><strong>Заполните ваш ETH/ETZ кошелек, чтоб получить информацию для инвестирования.</strong></p>
            <%= form_tag controller: 'account', action: 'add_eth', method: 'POST', class: 'inline-form' do %>
                <%= text_field_tag :eth_wallet, '', class: "form-control", placeholder: 'ETH/ETZ wallet'  %>
                <%= submit_tag t(:submit), class: "button red" %>
            <% end %>
        <% end %>
        <strong>Адрес смарт контракта:</strong>
        <p><%= 'Будет доступен на ICO' if current_ico_user.eth_wallet.present? %></p>

        <ul>
          <li>Мин. взнос - 0.1 ETH;</li>
          <li>Cтавьте GAS не менее 300 000 (излишки вам вернутся);</li>
          <li>Рекомендуем использовать кошелек myetherwallet.com</li>
        </ul>
        <strong>Кошелек для инвестирования в ETZ:</strong>
        <p><%= 'Будет доступен на ICO' if current_ico_user.eth_wallet.present? %></p>
        <div class="pb-2">Руководства по переводу ETZ <a href="http://etherzero.org/tutorials/" class="text-secondary">http://etherzero.org/tutorials/</a></div>
        <div class="pb-2"><strong>Внимание:</strong> минимальная сумма 10 ETZ. Переводы с меньшими суммами не будут обрабатываться для начисления RDT.</div>
        <p><strong>ВНИМАНИЕ!</strong> Не используйте адреса бирж или чужие адреса, используйте только адрес, который полностью контролируете (и можете получить private key). Иначе ваши RDT могут быть потеряны.</p>
      </div>
      <div class="col-lg-6">
        <% if current_ico_user.eth_wallet.present? %>
        <div>Адрес вашего ETH кошелька: <span id="eth_wallet" class="text-truncate d-inline-block w-100"><%= current_ico_user.eth_wallet %></span>
            </div>
            <div class="h4">История покупок(ETH)</div>
            <table class="table table-light table-striped">
              <thead>
              <tr>
                <th>Time</th>
                <th>ETH</th>
                <th>RDT</th>
              </tr>
              </thead>
              <tbody id="purchase_history_data"></tbody>
            </table>
            <div class="h4">История Покупок(ETZ)</div>
            <table class="table table-light table-striped">
              <thead>
              <tr>
                <th>Time</th>
                <th>ETZ</th>
                <th>RDT</th>
              </tr>
              </thead>
              <tbody id="purchase_history_data">
              <% @etz_investments.each do |i| %>
                  <tr>
                    <td>
                      <%= i.time.to_s %>
                    </td>
                    <td>
                      <%= i.etz %>
                    </td>
                    <td>
                      <%= i.rdt %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>

    <div class="bonuses-section">
      <div class="section">
        <div class="bonuses-section-wrap">
          <div class="main-bonus">
            <div class="title">Main Bonus</div>
            <div class="item">1.000.000 RDT<br>
              1 ETH = 6 600 RDT
            </div>
            <div class="item">2.000.000 RDT<br>
              1 ETH = 6 480 RDT
            </div>
            <div class="item">3.000.000 RDT<br>
              1 ETH = 6 300 RDT
            </div>
            <div class="item">4.000.000 RDT<br>
              1 ETH = 6 180 RDT
            </div>
            <div class="item">24.000.000 RDT<br>
              1 ETH = 6 000 RDT
            </div>
          </div>
          <div class="lines">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
          <div class="bonus-percent">
            <div class="item">10%</div>
            <div class="item">8%</div>
            <div class="item">5%</div>
            <div class="item">3%</div>
            <div class="item">0%</div>
          </div>
          <div class="lines">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
          <div class="extra-bonus">
            <div class="title">Extra Bonus</div>
            <div class="item">> 30 ETH</div>
            <div class="item">15 ETH – 29 ETH</div>
            <div class="item">5 ETH – 14.99 ETH</div>
            <div class="item">1 ETH – 4.99 ETH</div>
            <div class="item">< 1 ETH</div>
          </div>
          <div class="bonus-percent mobile">
            <div class="item">10%</div>
            <div class="item">8%</div>
            <div class="item">5%</div>
            <div class="item">3%</div>
            <div class="item">0%</div>
          </div>
        </div>
      </div>
    </div>

    <h2>Bounty Программа</h2>
    <p>Реферальная кампания 5% от всех привлеченных покупателей RDT, используя реферальную ссылку: <strong><%= ref_link %></strong> </p>
    <div class="text-center">
      <a href="https://bitcointalk.org/index.php?topic=3169535.0" class="button red">Bounty Campaign en</a>
      <a href="https://bitcointalk.org/index.php?topic=3153004.0" class="button red">Bounty Campaign ru</a></div>
    </div>
  </div>
</div>