<div class="container">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <div class="h4" id="presaletext">Pre-Sale ends in:</div>
        <div class="row">
          <div class="col-3">
            <small>Days</small>
            <div class="display-4" id="tDayNum">--</div>
          </div>
          <div class="col-3">
            <small>Hours</small>
            <div class="display-4" id="tHourNum">--</div>
          </div>
          <div class="col-3">
            <small>Minutes</small>
            <div class="display-4" id="tMinNum">--</div>
          </div>
          <div class="col-3">
            <small>Seconds</small>
            <div class="display-4" id="tSecNum">--</div>
          </div>
        </div>
        <div class="text-center"><span class="h5">Time-Limited Pre-Sale bonus 50%!</span></div>
        <div class="row mt-4 h5 text-center text-sm-left">
          <div class="col-sm-4 pb-3">
            <span class="icon-ethereum"></span>&nbsp;<span id="eth">9.3275</span>&nbsp;ETH<br>
            <span class="pl-4">Raised</span>
          </div>
          <div class="col-sm-4 pb-3">
            <span class="icon-ethereum"></span>&nbsp;250&nbsp;ETH<br>
            <span class="pl-4">Hard Cap</span>
          </div>
          <div class="col-sm-4 pb-3">
            <span class="icon-etz"></span>&nbsp;<span id="eth">0.0000</span>&nbsp;ETZ<br>
            <span class="pl-4">Raised</span>
          </div>
        </div>
        <div class="h4">Token Sale Schedule</div>
        <table class="table table-light table-striped">
          <tr>
            <td>Pre-Sale</td>
            <td>15.01.18 - 10.02.18</td>
            <td>+50%</td>
            <td>1ETH = 9000 RDT</td>
          </tr>
          <tr>
            <td>Step 1</td>
            <td>24.02.18 - 26.02.18</td>
            <td>+20%</td>
            <td>1ETH = 7200 RDT</td>
          </tr>
          <tr>
            <td>Step 2</td>
            <td>27.02.18 - 05.03.18</td>
            <td>+15%</td>
            <td>1ETH = 6900 RDT</td>
          </tr>
          <tr>
            <td>Step 3</td>
            <td>06.03.18 - 12.03.18</td>
            <td>+10%</td>
            <td>1ETH = 6600 RDT</td>
          </tr>
          <tr>
            <td>Step 4</td>
            <td>13.03.18 - 19.03.18</td>
            <td>+5%</td>
            <td>1ETH = 6300 RDT</td>
          </tr>
          <tr>
            <td>Step 5</td>
            <td>20.03.18 - 28.03.18</td>
            <td>&nbsp</td>
            <td>1ETH = 6000 RDT</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <% if current_ico_user.eth_wallet.nil? %>
            <strong>Please fill in your ETH wallet to obtain smart contract address</strong>
        <% else %>
            <div class="row">
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><span id="eth_balance">0</span> RDT</div><div class="h5 text-center">Balance</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count %></div><div class="h5 text-center">Referrals</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count*10 %> RDT</div><div class="h5 text-center">Referral Bonus</div></div>
              </div>
            </div>
            <strong>The smart contract address:</strong>
            <div class="input-group pb-2">
              <input id="smart_contract" type="text" value="0xa52f2e64A0bB1E52524b2c1daCA6Aac1c0eC5DC3" class="form-control" readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="copy" style="cursor: pointer;">copy</button>
              </div>
            </div>
            <a href="https://etherscan.io/address/0xa52f2e64a0bb1e52524b2c1daca6aac1c0ec5dc3" class="text-secondary" target="_blank">Read Smart Contract at Etherscan</a>
        <% end %>
        <ul>
          <li>Min pledge is 0.1 ETH;</li>
          <li>Set GAS 300 000 (unused gas will be returned to you);</li>
          <li>We recommend to use myetherwallet.com</li>
        </ul>
        <% if current_ico_user.eth_wallet.nil? %>
            <%= form_tag controller: 'account', action: 'add_eth', method: 'POST', class: 'inline-form' do %>
                <%= label_tag 'Enter your ETH-wallet(address), to obtain referral link and smart contract address' %><br>
                <%= text_field_tag :eth_wallet, '', class: "form-control"  %>
                <%= submit_tag t(:submit), class: "btn btn-secondary mt-3" %>
            <% end %>
        <% else %>
            <strong>Use this wallet for ETZ investing:</strong>
            <div class="input-group pb-2">
              <input id="etz_wallet" type="text" value="0x2C46fAC5025AEb567A610Cf025907BCDd92246F9" class="form-control" readonly>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="copy_etz" style="cursor: pointer;">copy</button>
              </div>
            </div>
            <div class="pb-2">Transfer ETZ tutorials for all possible wallets <a href="http://etherzero.org/tutorials/" class="text-secondary">http://etherzero.org/tutorials/</a></div>
            <div class="pb-2"><strong>Attention:</strong> minimal amount 1 ETZ. The fee is less than the amount claimed for the accrual of RDT will not be processed. Amount of RDT will be calculated on ETZ/ETH by yobit at the transaction time.</div>
            <div>
              Your referral link to participate in the Bounty program:
              <strong><%= ref_link %></strong><br>
              Your ETH wallet: <span id="eth_wallet" class="text-truncate d-inline-block w-100"><%= current_ico_user.eth_wallet %></span>
            </div>
            <div class="h4">Purchase History(ETH)</div>
            <table class="table table-light table-striped">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>ETH</th>
                  <th>RDT</th>
                </tr>
              </thead>
              <tbody id="purchase_history_data"></tbody>
            </table>
        <% end %>
      </div>
    </div>
    <h2>Bounty Program</h2>
    <p>Any user who has an own website, blog or social network account can take our Bounty Rate Date program. User is rewarded with 10RTD for each potential investor, engaged by him before starting ICO or during it. User can receive additional rewarding of 100RTD if investor engaged by him deposits any funds into ICO program. Rewarding arrives in a wallet balance, pointed in a personal account.</p>
    <p><strong>ATTENTION!</strong> Do not use online exchanges addresses or another’s ones. Use only your own addresses which you can fully control. Otherwise your RDT would be lost.</p>
  </div>
</div>