<div class="container">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <div class="h3 py-4 text-center">Pre-Sale окончен! Достигнут Hard Cap!</div>
        <div class="h3 text-center" id="presaletext">ICO Start:</div>
        <div class="row py-4">
          <div class="col-3">
            <small>Days</small>
            <div class="display-4" id="tDayNum">--</div>
          </div>
          <div class="col-3">
            <small>Hours</small>
            <div class="display-4" id="tHourNum">--</div>
          </div>
          <div class="col-3">
            <small>Minutes</small>
            <div class="display-4" id="tMinNum">--</div>
          </div>
          <div class="col-3">
            <small>Seconds</small>
            <div class="display-4" id="tSecNum">--</div>
          </div>
        </div>
        <div class="h4">Расписание продаж токенов</div>
        <table class="table table-light table-striped">
          <tr>
            <td>Pre-Sale</td>
            <td>15.01.18 - 10.02.18</td>
            <td>+50%</td>
            <td>1ETH = 9000 RDT</td>
          </tr>
          <tr>
            <td>Step 1</td>
            <td>24.02.18 - 26.02.18</td>
            <td>+20%</td>
            <td>1ETH = 7200 RDT</td>
          </tr>
          <tr>
            <td>Step 2</td>
            <td>27.02.18 - 05.03.18</td>
            <td>+15%</td>
            <td>1ETH = 6900 RDT</td>
          </tr>
          <tr>
            <td>Step 3</td>
            <td>06.03.18 - 12.03.18</td>
            <td>+10%</td>
            <td>1ETH = 6600 RDT</td>
          </tr>
          <tr>
            <td>Step 4</td>
            <td>13.03.18 - 19.03.18</td>
            <td>+5%</td>
            <td>1ETH = 6300 RDT</td>
          </tr>
          <tr>
            <td>Step 5</td>
            <td>20.03.18 - 28.03.18</td>
            <td>&nbsp</td>
            <td>1ETH = 6000 RDT</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <% if current_ico_user.kyc.nil? %>
            <strong>Заполните форму аутентификации личности для доступа к смарт контракту и bounty.</strong>
        <% else %>
            <div class="row">
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><span id="eth_balance">0</span> RDT</div><div class="h5 text-center">Баланс</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count %></div><div class="h5 text-center">Рефералы</div></div>
              </div>
              <div class="col my-2">
                <div class="alert alert-primary h-100"><div class="text-center h3"><%= current_ico_user.referrals.confirmed.count*10 %> RDT</div><div class="h5 text-center">Реферальный Бонус</div></div>
              </div>
            </div>
            <strong>Адрес смарт контракта:</strong>
            <div class="text-secondary">Адрес будет доступен 24 Февраля</div>
        <% end %>
        <ul>
          <li>Мин. взнос - 0.1 ETH;</li>
          <li>Cтавьте GAS не менее 300 000 (излишки вам вернутся);</li>
          <li>Рекомендуем использовать кошелек myetherwallet.com</li>
        </ul>
        <% if current_ico_user.kyc.nil? %>
            <%= render 'kyc_form' %>
        <% else %>
            <strong>Кошелек для инвестирования в ETZ будет доступен 24 февраля.</strong>
            <div class="pb-2">Руководства по переводу ETZ <a href="http://etherzero.org/tutorials/" class="text-secondary">http://etherzero.org/tutorials/</a></div>
            <div class="pb-2"><strong>Внимание:</strong> минимальная сумма 1 ETZ. Переводы с меньшими суммами не будут обрабатываться для начисления RDT. Количество RDT будет рассчитываться по курсу ETH/ETZ от yobit на момент транзакции.</div>
            <div>
              Ваша реферальная ссылка для участия в Bounty программе:
              <strong><%= ref_link %></strong><br>
              Адрес вашего ETH кошелька: <span id="eth_wallet" class="text-truncate d-inline-block w-100"><%= current_ico_user.eth_wallet %></span>
            </div>
            <div class="h4">История покупок(ETH)</div>
            <table class="table table-light table-striped">
              <thead>
              <tr>
                <th>Time</th>
                <th>ETH</th>
                <th>RDT</th>
              </tr>
              </thead>
              <tbody id="purchase_history_data"></tbody>
            </table>
        <% end %>
      </div>
    </div>
    <h2>Bounty Программа</h2>
    <p>В Bounty программе Rate Date может принять участие любой пользователь у которого есть свой сайт, блог или аккаунт в социальной сети. Вознаграждение составляет 10 RDT за каждого привлеченного потенциального инвестора до начала и во время проведения ICO.  А также дополнительное вознаграждение  100 RDT в случае внесения средств привлеченным инвестором,  независимо от суммы отправленных средств.  Вознаграждение выплачивается на баланс кошелька указанного в личном кабинете. </p>
    <p><strong>ВНИМАНИЕ!</strong> Не используйте адреса бирж или чужие адреса, используйте только адрес, который полностью контролируете (и можете получить private key). Иначе ваши RDT могут быть потеряны.</p>
  </div>
</div>