<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Rate Date</title>
  <%= render "favicon" %>
  <%= csrf_meta_tags %>
  <%= meta_tags %>
  <% if content_for?(:head) %>
      <%= yield(:head) %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

  <!-- HTML5 shissm and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= google_analytics %>
<%= ya_metric %>
<header>

  <a id="side-menu-open" class="menu-btn" href="javascript:void(0)">
    <span class="fa fa-bars"></span>
  </a>

  <a class="logo" href="javascript:void(0)"><span class="icon-logo"></span></a>

  <div class="navs">

    <div class="navs-wrap">
      <div class="navs-head mobile">
        <a id="close-user-menu" class="close-btn" href="javascript:void(0)">
          <span class="fa fa-times"></span>
        </a>
        <span class="icon-logo"></span>
      </div>

      <ul class="left-nav">
        <li><%= link_to 'Profiles', profiles_path %></li>
        <li><a class="soon" href="javascript:void(0)">Auctions</a></li>
      </ul>

      <ul class="right-nav">
        <li><%= link_to 'My Profile', my_profile_path %></li>
        <li><%= link_to 'Edit Profile', edit_my_profile_path%></li>
        <li><%= link_to t(:sign_out), sign_out_path, method: :delete%></li>

        <li class="links-row">
          <a class="left" href="javascript:void(0)">Terms of Use</a>
          <a id="policy" class="right" href="javascript:void(0)">Policy</a>
        </li>
      </ul>
      <p class="links-row mobile">
        <a class="left" href="javascript:void(0)">Terms of Use</a>
        <a class="right" href="javascript:void(0)">Policy</a>
      </p>
    </div>
  </div>

  <div class="right-menu">
    <!--<a class="notifier not-empty" href="javascript:void(0)">-->
      <!--<i class="fa fa-bell-o"></i>-->
    <!--</a>-->

    <%= link_to(conversation_path(Conversation.participating_last(current_user)), class: 'messages') do %>
      <i class="fa fa-comment-o"></i>
      <!--<span class="unread">241</span>-->
    <% end %>

    <a class="user-menu" href="javascript:void(0)">
      <%= user_avatar %>
    </a>
  </div>
</header>

<div class="content-wrap">
  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="links-row">
      <a href="javascript:void(0)">Terms of Use</a>
      <a href="javascript:void(0)">Policy</a>
    </div>
    <p class="copyright">Copyright © 2018 RateDate</p>
  </footer>

  <div class="modal">
    <a class="modal-close" href="javascript:void(0)">
      <i class="fa fa-times"></i>
    </a>

    <div class="modal-window">
      <div class="modal-content">
        <h1>Terms policy (H1)</h1>
        <h2>1. Acceptance of Terms of Use Agreement (H2)</h2>
        <p>
          By creating a RateDate account, whether through a mobile device,
          mobile application or computer (collectively, the “Service”) you
          agree to be bound by (i) these Terms of Use, (ii) our Privacy Policy
          and Safety Tips, each of which is incorporated by reference into this
          Agreement, and (iii) any terms disclosed and agreed to by you if you
          purchase additional features, products or services we offer on the
          Service (collectively, this “Agreement”). If you do not accept and
          agree to be bound by all of the terms of this Agreement, please do
          not use the Service.
        </p>
        <h2>2. Eligibility.</h2>
        <p>
          You must be at least 18 years old. Never give personal information,
          such as: your social security number, credit card number or bank
          information, or your work or home address to people you don’t know
          or haven’t met in person. By creating a RateDate account, whether
          through a mobile device, mobile application or computer (collectively, the “Service”)
          you agree to be bound by (i) these Terms of Use, (ii) our Privacy Policy and Safety
          Tips, each of which is incorporated by reference into this Agreement, and (iii)
          any terms disclosed and agreed to by you if you purchase additional features,
          products or services we offer on the Service (collectively, this “Agreement”).
          If you do not accept and agree to be bound by all of the terms of this Agreement,
          please do not use the Service.
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>