<!DOCTYPE html>
<html>
<head>
  <title>Ratedate ICO</title>
  <%= render "favicon" %>
  <%= csrf_meta_tags %>
  <%= meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload', async: true %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => 'reload', async: true %>
  <%= javascript_include_tag 'web3.min.js', 'data-turbolinks-track' => 'reload', async: true %>
</head>

<body>
<%= google_analytics %>
<%= ya_metric %>
<%= yield %>
</body>
</html>
