<!DOCTYPE html>
<html>
<head>
  <title>Ratedate ICO</title>
  <%= csrf_meta_tags %>
  <%= meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= google_analytics %>
  <%= ya_metric %>
</head>

<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-ico">
    <a class="navbar-brand" href="https://ico.ratedate.net/">
      <span class="icon-logo display-3"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarICO" aria-controls="navbarICO" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarICO">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= locale_link %>
        </li>
        <li class="nav-item">
          <%= wp_link "btn btn-outline-secondary my-1 my-lg-0 mx-0 mx-lg-1" %>
        </li>

        <% if ico_user_signed_in? %>
            <li class="nav-item">
              <%= link_to t(:sign_out), ico_sign_out_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to t(:sign_in), ico_sign_in_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to t(:sign_up), ico_sign_up_path, class: "btn btn-outline-secondary" %>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
<%= yield %>
</body>
</html>